---
title: Knowledge Sharing
description: Welcome to the Knowledge Sharing page.
subtitle: Our Focus Areas
layout: default
permalink: /knowledge-sharing/
sidenav: false
redirect_from:
- /agenda/priorities/

---
<section class="usa-graphic-list">
    <div class="grid-container">
        <h1 class="column-centered-heading margin-0">Knowledge Sharing and Best Practices</h1>
        <div class="usa-graphic-list__row grid-row grid-gap margin-0">

            <p class="font-sans-sm padding-top-1 margin-0">Discover the Chief Financial Officer Council's knowledge sharing library where you can access  best practices,
                training modules, career paths, videos, and more!</p>
            <br>
        </div>
    </div>
</section>

<section class="usa-graphic-list margin-bottom-4">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">

            {% include knowledge-sharing-filters.html %}
            {% include knowledge-sharing-data.html %}

        </div>
    </div>
</section>
