---
title: Members
layout: default
permalink: /members/
description: Learn more on the CFOC members.
keyword: CFO Priority Areas, CFO Council, CFOC members, Members
---


<!-- *****LOOP FOR Leadership *********-->
<div class="grid-container font-sans-sm">
    <section class="usa-graphic-list padding-top-0">
        <div class="grid-container">
            <h2 class="font-sans-lg">Leadership</h2>
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">

                {% for bio in site.leadership %}
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <div style="display: block;" class="height-full">
                        <div class="left">
                            <img class="photo" src="{{ site.baseurl }}{{ bio.bio-image }}" alt="{{bio.bio-image-alt-text }} portrait">
                        </div>
                        <div class="right">
                            <p><span class="name">{{ bio.name }}<br></span>
                                <span class="title">{{ bio.title }}, {{ bio.department }}</span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>

</div>


{% assign group_members = site.members | group_by: "department" | sort_natural: "name" %}



<!-- *****LOOP FOR MEMBERS *********-->
<div class="grid-container font-sans-sm">
    <section class="usa-graphic-list padding-top-0">
        <div class="grid-container">
            <h2 class="font-sans-lg">CFO Council Members</h2>
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                <div class="tablet:grid-col-4 container boarderBottom" style="padding:10px;">
                    <span class="headerMember">
                        Agency
                    </span>
                </div>
                <div class="tablet:grid-col-4 container boarderBottom" style="padding:10px;">
                    <span class="headerMember">
                        Chief Financial Officer
                    </span>
                </div>
                <div class="tablet:grid-col-4 container boarderBottom" style="padding:10px;">
                    <span class="headerMember">
                        Deputy Chief Financial Officer
                    </span>
                </div>
                {% for group in group_members %}
                {% assign sortedTitle = group.items | first %}
                {% if sortedTitle.title contains "Principal Deputy Assistant Secretary exercising"  %}
                    {% assign sorted_members = group.items | sort: "title" | reverse %}
                {% else %}
                    {% assign sorted_members = group.items | sort: "title" %}
                {% endif %}
                
                {% assign firstItem = sorted_members | first %}
                {% assign lastItem = sorted_members.last %} 
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <span style="color:black;text-decoration: none; display: block;" class="height-full">
                        <div class="leftSeal">
                            <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{firstItem.department | slugify}}.png" alt="{{ firstItem.department }} seal">
                        </div>

                        <div class="rightSeal">
                            <p>
                                <span class="nameSeal">{{firstItem.department}}</span>
                            </p>
                        </div>
                    </span>
                </div>

                {% for bio in sorted_members %}
                {% if bio.name contains "Vacant"  %}
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <span style="color:black;text-decoration: none; display: block;" class="height-full">
                        <div class="left">
                            <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{firstItem.department | slugify}}.png" alt="{{ firstItem.department }} seal">
                        </div>

                        <div class="right">
                            <p>
                                <span class="name">
                                    Vacant<br>
                                </span>
                                <span class="title">{{ bio.title }}, {{ firstItem.department }}</span>
                            </p>
                        </div>
                    </span>
                </div>
                {% elsif bio.bio-image %}
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <div style="display: block;" class="height-full">
                        <div class="left">
                            <img class="photo" src="{{ site.baseurl }}{{ bio.bio-image }}" alt="{{bio.bio-image-alt-text }} portrait">
                        </div>
                        <div class="right">
                            <p><span class="name">{{ bio.name }}<br></span>
                                <span class="title">{{ bio.title }}, {{ bio.department }} {{ bio.sub-department }}</span></p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <span style="color:black;text-decoration: none; display: block;" class="height-full">
                        <div class="left">
                            <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{firstItem.department | slugify}}.png" alt="{{ firstItem.department }} seal">
                        </div>

                        <div class="right">
                            <p>
                                <span class="name">
                                    {{ bio.name }}<br>
                                </span>
                                <span class="title">{{ bio.title }}, {{ bio.department }} {{ bio.sub-department }}</span>
                            </p>
                        </div>
                    </span>
                </div>
                {% endif %}
                {% endfor %}
                
                {% if firstItem == lastItem   %}
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <span style="color:black;text-decoration: none; display: block;" class="height-full">
                        <div class="left">
                            <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{firstItem.department | slugify}}.png" alt="{{ firstItem.department }} seal">
                        </div>
                        <div class="right">
                            <p>
                                <span class="name">
                                    Vacant<br>
                                </span>
                                <span class="title">Deputy Chief Financial Officer, {{ firstItem.department }}</span>
                            </p>
                        </div>
                    </span>
                </div>
                
                {% endif %}
                {% endfor %}


            </div>
        </div>
    </section>

</div>