---
title: Controller Alerts
layout: default
permalink: /controller-alerts/
---
<div class="grid-container font-sans-sm">
    <h2>CONTROLLER ALERTS</h2>
     <p>Controller Alerts are designed to highlight emerging financial management issues that may require agency attention or action. These Alerts are intended to inform the Chief Financial Officer (CFO) community of key issues where the Office of Management and Budget (OMB) believes further action may be warranted, but do not constitute official guidance or prescribe specific tasks for agencies beyond consideration of appropriate steps to address the issue.</p><br>
    <p>THE LATEST ALERTS-----------</p><br>
    {% assign sorted = site.controlleralerts | sort: 'date' | reverse %}
    {% for alerts in sorted %}
    {% if alerts.permalink %}
        <a href="{{ site.baseurl }}{{ alerts.permalink }}" style="text-decoration: none"><div>
             <span>{{ alerts.date | date: "%m/%d/%Y" }}: {{ alerts.title }}</span><br><br><br>
        </div></a>
    {% else %}
        <a href="{{ alerts.doc-link }}" style="text-decoration: none"><div>
            <span>{{ alerts.date | date: "%m/%d/%Y" }}: {{ alerts.title }}</span><br><br><br>
        </div></a>
    {% endif %}
    {% endfor %}
</div>
