---
title: FRPC
layout: frpc-default
permalink: /frpc/
---

<div class="grid-container padding-0">{% include carousel_homepage_top.html height="30" unit="%" duration="3" %}</div>

<section class="usa-graphic_list usa-section usa-prose clearfix">

    <div class="clearfix grid-container priority-icons">
        <div class="grid-row">

            <div class="grid-col-fill text-center margin-y-6">
                <a href="{{site.baseurl}}/conference-and-webinars/" class="text-no-underline">
                    <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/grant.jpg" alt="About FRPC logo" />
                    <h2 class="text-gray-70 text-normal section_font">About FRPC</h2></a>
            </div>
            <div class="grid-col-fill text-center margin-y-6">
                <a href="#" class="text-no-underline">
                    <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/PI.jpg" alt="Policies and Guidance logo" />
                    <h2 class="text-gray-70 text-normal section_font">Policies and Guidance</h2></a>
            </div>

            <div class="grid-col-fill text-center margin-y-6">
                <a href="#" class="text-no-underline">
                    <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/erm.jpg" alt="Principals logo" />
                    <h2 class="text-gray-70 text-normal section_font">Principals</h2></a>
            </div>

        </div>
    </div>
</section>

<section id="getinvolved" class="grid-container clearfix tabSection margin-bottom-5">

    {% include council_sidenav.html %}
</section>
