---
layout: default
permalink: /the-latest/
title: The Latest from Priority Areas
description: This page shows the latest updates from all priority areas.
---

{% comment %}
This template is for a single policy landing page.
{% endcomment %}


<section class="usa-graphic_list usa-prose usa-hero tablet:grid-container about clearfix margin-bottom-3">
    <div class="grid-row grid-gap ">

        <div class="grid-col-10 grid-offset-1">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div><br>
            <div><h2 class="margin-0 font-sans-md">{{ page.description }}</h2></div>
        </div>
    </div>

</section>

<div class="usa-layout-docs__main">
    <div class="grid-container font-sans-sm padding-0">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__main desktop:grid-col-12 font-sans-sm">

                {% assign sorted = site.policies_guidance | where: 'has_date', 'yes'| sort: 'date' | reverse %}
                {% for post in sorted limit:30 %}
                    {% if post.coming_soon != 'yes' and post.type == 'financial-assistance' or post.type == 'erm' or post.type == 'fdt' or post.type == 'fmt' or post.type == 'payment-integrity' %}

                        <div class="padding-bottom-1 margin-top-2 usa-prose border-bottom-05 border-base-lightest">
                    <h3 class="title">{{post.title}}</h3>

                    <div class="text-base margin-bottom-2">
                        <div class="margin-top-neg-105"><span color="black">
                            {{ post.date | date: '%B %d, %Y' }}</span>
                        </div>
                    </div>

                    <div>
                        {% if post.image %}
                        <img class="tablet:float-left width-15 padding-right-2 padding-top-1 padding-bottom-2" style="width:120px;height:120px;object-fit:cover;" src="{{ site.baseurl }}/assets/images/blog/{{ post.image }}" alt="{{ post.img-alt }}" />
                        {% endif %}
                        <p class="font-sans-sm text-ink">{{ post.filler }}</p>
                        {% comment %}
                        We default to using post.content, but you can also use post.excerpt.
                        If you use excerpt then you have to make sure the content is on each
                        post header
                        {% endcomment %}
                        {% if post.permalink %}
                        <a class="text-no-underline text-bold" href="{{ site.baseurl }}{{ post.permalink }}">Read More</a>
                        {% elsif post.doc-link %}
                        <a class="text-no-underline text-bold" href="{{ post.doc-link }}">Read More</a>
                        {% endif %}
                    </div>
                </div>

                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
</div>

