<div class="grid-container-widescreen">
    <div class="usa-logo" id="logo">
         <em class="usa-logo-text">
             <a href="{{ site.baseurl }}/" accesskey="1" title="CFO.gov" aria-label="CFO.gov">
                    <img class="logo-size cfo-logo-size" src="{{ site.logo }}" alt="United States CFO logo">
             </a>
         </em>
    </div>
</div>

<div id="blog" class="bg-primary-darker usa-content font-serif-lg wfm-page wfm-header">
    <div class="grid-container-widescreen">
        <div class="display-flex flex-row flex-align-center">
            <div class="maxw-tablet">
                <h1 class="text-normal text-white margin-bottom-1 font-serif-lg">Career Planning Tool</h1>
                <p class="text-base-lighter padding-top-0 margin-top-0 text-light">Research what you need to advance in your government career.</p>
            </div>
        </div>
    </div>
</div>