<div id="blog" class="bg-primary-darker usa-content font-serif-lg wfm-page">
    <div class="grid-container-widescreen">
        <div class="display-flex flex-row flex-align-center">
            <div class="padding-right-5"><a href="{{site.baseurl}}/"><img class="bg-white ogp-img logo-size" src="{{site.baseurl}}/assets/images/logos/logo-wfm-cfo.png" alt="CFO.gov Home Page"> </a> </div>
            <div class="maxw-tablet">
                <h1 class="text-normal text-white margin-bottom-1 font-serif-lg">Career Planning & Training Tool (in BETA)</h1>
                <p class="text-base-lighter padding-top-0 margin-top-0 text-light">Discover the knowledge, skills, and training that can help advance your Federal career</p>
            </div>
            </div>
        </div>
</div>