---
permalink: /payment-accuracy/assets/css/main-page.css
---
// Import the US Web Design System SASS.
@import "members.scss";
@import "knowledgesharing.scss";

// Add your SASS/CSS here
//@import "../assets/css/slick.css";
//@import "../assets/css/slick-theme.css";

// default mode hide banner

.logo-size {
  width: 183px;
}

.jfmip-logo-size {
  width: 150px;
}

.cxo-logo-size {
  width: 40%;
}

.frpc-logo-size {
  width: 183px;
}

.header-menu-text {
  font-size: initial;
  font-weight: 400;
}


.search-button {
  background-color: #d83933;
}

.usa-header--extended .usa-current::after, .usa-header--extended [aria-expanded=true]::after, .usa-header--extended .usa-nav__link:hover::after {
  background-color: #d83933;
}
.circle-image {
  border-radius: 50%;
  width: 110px;
}
.circle-image:hover {
-webkit-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
-moz-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
}

.priority-tag-line{
  /*padding-top: .5em;*/

}

// .cxo {
//     background-image: url('../images/CXO-Fellows-Banner.png');
//     background-color: #19387b;
//     min-height: 200px;
// }
.priority-icons {
  background-position: center;
  background-image: url('../images/priority-middle-image1.png');
  background-repeat:no-repeat;
  background-size: cover;
}
/* Clearfix (clear floats) */
.section_font {


}
.ui-tabs-vertical {
  margin: 0em -2em;
  padding: 0.5em 0 1.5em 0;
  background-image: url('../images/yellow-back.png');
  background-repeat: no-repeat;
  background-position: -200px -43px;
  background-color:transparent;
}
.tabSection{
  background-image: url("../images/blue-back.png");
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-position: bottom right;
  background-size: 16%;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: 1.5em 0;

  list-style: none;
  background: #fff;
  border-radius: 0px 40px 40px 0px;
  -moz-border-radius: 0px 40px 40px 0px;
  -webkit-border-radius: 0px 40px 40px 0px;

}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  padding: 0em 2em 0em 2em;
  margin: 1em 2em 1em 0.5em;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  padding: 1em 0;
}

.ui-tabs-vertical .ui-tabs-panel {

}

.ui-state-hover, .ui-state-active {
  border-right: 8px solid #5b6cc5;
  background: #eef1ff;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }

#tabs .ui-state-focus a:focus, #tabs li:focus {
  outline: 0;
}
#backtotop {
  color: #0050d8;
}
.pill {
  background: #fff;
}
.grey-back{
  background:#f4f4f4;
}
.cfo-button, .cfo-button:visited{
  background: #fff;
  color:#d83933;
}
.members-button,.members-button:visited{
color:#005ea2;
}

.members-hover:hover{
  -webkit-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
}

.about{
  background: rgb(25,56,123);
  background: linear-gradient(90deg, rgba(25,56,123,1) 0%, rgba(9,13,121,0.9164040616246498) 59%, rgba(2,0,36,1) 100%);
}
.priority{
  background-image: url('../images/priority-top-image1.png');
  background-color:  #19387b;
}

.fmt-page{
  background-image: url('../images/fmt-1.png');
  background-color:  #19387b;
  padding:4em 0;
}
.payment-integrity-page{
  background-image: url('../images/logos/workforce/president-signing.png');
  background-color:  #19387b;
  padding:4em 0;
}
.symposium-page {
    background-image: url('../images/logos/workforce/symposium.png');
    background-color: #19387b;
    padding: 4em 0;
}
.fdt-page{
  background-image: url('../images/fdt.png');
  background-color:  #19387b;
  padding:4em 0;
}
.erm-page{
  background-image: url('../images/erm.png');
  background-color:  #19387b;
  padding:4em 0;
}
.frpc-page{
  background-image: url('../images/frpc.png');
  background-color:  #19387b;
  background-size: cover;
  padding:3em 0;
}
.jfmip-page{
  background-image: url('../images/jfmip.png');
  background-color:  #19387b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding:3em 0;
}
.financial-assistance-page{
  background-image: url('../images/grants.png');
  background-color:  #19387b;
  background-size: cover;
  padding:4em 0;
}
.financial-assistance-page{
  background-image: url('../images/grants.png');
  background-color:  #19387b;
  background-size: cover;
  padding:4em 0;
}
.about-the-council {
    background-image: linear-gradient(to top, rgba(0.4, 0.4, 0.4, 0.4), rgba(0.5, 0.5, 0.5, 0.5)), url('../images/about.jpg');
    background-color: #19387b;
    height: 12rem;
}

.div-height {
  height: 12rem;
}

.ui-tabs-active a {
  color: #2644d6;
  font-weight: bold;
}
.paymentaccuracy {
    background-image: linear-gradient(to top, rgba(0.4, 0.4, 0.4, 0.4), rgba(0.5, 0.5, 0.5, 0.5)), url("../images/white-house-picture-payment-accuracy-no-overlay-1.jpg");
    background-color: #19387b;
}

.font-ui-paymentaccuracy{
  font-size:67px;
}
.sub-title-paymentaccuracy{
  font-size:30px;
}
.carousel.top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -140px;
}
.usa-nav__primary > .usa-nav__primary-item > a{
  font-weight:normal;
}
.carousel__track {
  color: #ffffff;
  text-align:left;
}
.carousel.bottom {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -72px;
}
.slick-prev {
  left:5px;
}
.slick-next{
  right:5px;
}

.slick-dots
{
  position: absolute;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  right:15px;
}
.bottom .slick-dots{
  text-align: center;
  right:0;
}
.slick-dots li button:before{
  color:#fff;
  font-size:15px;
}

.slick-dots li.slick-active button:before{
  color:#FB5A47;
  opacity: 1;
}
.slick-dotted.slick-slider{
  margin-bottom:0;
}

.slick-dots li.slick-active button:before {
  color: #FB5A47;
}

/*.bg-red{
  background-color: #FB5A47;
}
*/

.connectToCFO{
  color: #1b1b1b;
  text-decoration: none;
}
.fdt-page .priority-tag-line h1{
  margin-top:-0.25rem;
}
.circle-image.picons{
  margin: 0 auto;
}
.picon{
  height: 100px;
  padding: 25px;
}
.divTable {
  display: table;

}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  border-top: .5px solid black;
  border-left: .5px solid black;
  display: table-cell;

}
.divTableCellBottom{
  border-bottom: .5px solid black;
}
.divTableCellRight{
  border-right: .5px solid black;
}


.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}
.view-full {
  background-position: center;
  height: 48px;
  width: 48px;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: -9999px;
  background-image: url("../img/search.svg");
  background-repeat:no-repeat;
  background-size:1.5rem;
  background-color:#005ea2;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  border-radius:50%
}
.white-popup{position: relative;background: #FFF;padding: 20px;width: auto;max-width: 1200px;margin: 20px auto;}
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/* media queries*/
@media (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item {
    font-size: 0.931618rem;
    line-height: 0.939227;
    padding-right: 1rem;
  }
}

.secondary-nav-padding {
  padding-bottom: 1rem;
}

@media screen and (min-width: 640px) {
  .logo-size {
    width: 214px;
    height: 72px;
  }
}

@media screen and (min-width: 640px){
  .jfmip-logo-size {
    width: 148px;
    height: 86px;
  }
}

@media screen and (min-width: 640px){
  .frpc-logo-size {
    width: 148px;
    height: 86px;
  }
}

@media screen and (max-width: 1025px) {
  .jfmip-logo-size{
    height: 46px;
    width: 72px;
  }

  .cxo-logo-size{
    height: 42px;
    width: 120px;
  }
  .frpcSubText{
    font-size: .75rem;
  }

  .cfo-logo-size{
    width:  160px;
    height: 50px;
  }

  .coffa-logo-size{
    width:  300px;
    height: 100px;
  }
}

abbr{
  text-decoration: none !important;
}

@media screen and (min-width: 1025px) {
  .councilAgenciesList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

//Footer Identifier 
#ogp-identifier.usa-identifier {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.3;
    color: white;
    background-color: #1b1b1b;
    padding-bottom: 1rem;


  .usa-identifier__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 64rem
  }

  @media all and (min-width: 64em) {
    .usa-identifier__container {
        padding-left:2rem;
        padding-right: 2rem
    }
  }

  .usa-identifier__section {
    padding-bottom: 1rem;
    padding-top: 1rem
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--masthead .usa-identifier__container {
        align-items:center;
        display: flex
    }
  }

  .usa-identifier__logos {
    display: flex;
    margin-right: 1rem
  }

  .usa-identifier__logo {
    text-decoration: none;
    height: 3rem;
    display: block
  }

  .usa-identifier__logo+.usa-identifier__logo {
    margin-left: 0.5rem
  }

  .usa-identifier__logo-img {
    height: 100%;
    width: auto
  }

  .usa-identifier__identity {
    flex: 1 1 0%;
    margin-top: 1rem
  }

  @media all and (min-width: 40em) {
    .usa-identifier__identity {
        margin-top:0
    }
  }

  .usa-identifier__identity-domain,.usa-identifier__identity-disclaimer {
    margin: 0;
    padding: 0
  }

  .usa-identifier__identity-domain {
    color: #a9aeb1
  }

  .usa-identifier__identity-disclaimer {
    font-weight: 700
  }

  .usa-identifier__identity-disclaimer a {
    color: #dfe1e2
  }

  .usa-identifier__identity-disclaimer a:visited {
    color: #dfe1e2
  }

  .usa-identifier__identity-disclaimer a:hover,.usa-identifier__identity-disclaimer a:active {
    color: #f0f0f0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--required-links {
        padding-bottom:0.5rem;
        padding-top: 0.5rem
    }
  }

  @media all and (min-width: 64em) {
    .usa-identifier__section--required-links {
        font-size:1rem
    }
  }

  .usa-identifier__required-links-list {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__required-links-list {
        -moz-column-count:2;
        column-count: 2;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        -moz-column-fill: balance;
        column-fill: balance
    }
  }

  @media all and (min-width: 64em) {
    .usa-identifier__required-links-list {
        -moz-column-count:4;
        column-count: 4
    }
  }

  .usa-identifier__required-links-item {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 0.75rem
  }

  .usa-identifier__required-links-item:last-child {
    margin-bottom: 0
  }

  @media all and (min-width: 64em) {
    .usa-identifier__required-links-item {
        margin-bottom:0.5rem
    }
  }

  .usa-identifier__required-link {
    color: #a9aeb1;
    display: inline-block
  }

  .usa-identifier__required-link:visited {
    color: #a9aeb1
  }

  .usa-identifier__required-link:hover,.usa-identifier__required-link:active {
    color: #dfe1e2
  }

  .usa-identifier__section--usagov a {
    color: #dfe1e2;
    font-weight: 700;
    display: inline-block;
    margin-top: 0.5rem
  }

  .usa-identifier__section--usagov a:visited {
    color: #dfe1e2
  }

  .usa-identifier__section--usagov a:hover,.usa-identifier__section--usagov a:active {
    color: #f0f0f0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--usagov a {
        margin-top:0
    }
  }

  @media all and (min-width: 40em) {
    .usa-identifier__usagov-description {
        display:inline-flex
    }
  }
}

//PaymentAccuracy Scorecards
.scorecards {
  font-weight: 300;
  line-height: 1.618;
  font-size: 18px;

  a {
      color: #005ea2;
      text-decoration: none;
  }

  .scorecards-heading {
      color: #205493;
  }

  .scorecards-table {
      width: 100%;
      border-collapse: collapse;

      th {
          text-align: left;
      }
      
      th, td {
          padding: 12px 8px;
          vertical-align: middle;
      }

      .scorecards-table-header {
          background-color: #205493; 
          color: white;
      }

      tr {
          border-bottom: 1px solid #ddd;
      }

      td {
          padding: 10px;
      }

      th:nth-of-type(1),
      td:nth-of-type(1) {
        width: 30%;
      }
      th:nth-of-type(2),
      td:nth-of-type(2) {
        width: 70%;
      }
  }
}

// @media screen and (min-width: 640px) {
//     .usa-banner__button[aria-expanded="true"]::after {
//         background-color: transparent !important;
//         background-image: url("../img/angle-arrow-up-primary.svg"), linear-gradient(transparent, transparent);
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: 0.5rem;
//         content: "";
//         display: inline-block;
//         width: 0.5rem;
//         margin-left: 4px;
//         transform: rotate(0deg) !important;
//     }

//     .usa-banner__button[aria-expanded="true"]:hover::after {
//         background-image: url("../img/angle-arrow-up-primary-hover.svg"), linear-gradient(transparent, transparent);
//         background-color: transparent !important;
//         transform: rotate(0deg) !important;
//     }

//     .usa-banner__button::after {
//         background-image: url("../img/angle-arrow-down-primary.svg"), linear-gradient(transparent, transparent);
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: 0.5rem;
//         content: '';
//         display: inline-block;
//         width: 0.5rem;
//         margin-left: 4px;
//         background-color: transparent !important;
//     }

//     .usa-banner__button:hover::after {
//         background-image: url("../img/angle-arrow-down-primary-hover.svg"), linear-gradient(transparent, transparent);
//         background-color: transparent !important;
//     }
// }

// @media screen and (max-width: 640px) {
//     .usa-banner__button[aria-expanded="true"]::after {
//         border: 0;
//         background-image: url("../img/close-blue-60v-alt.svg"), linear-gradient(transparent, transparent);
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: 1rem;
//         content: '';
//         display: inline-block;
//         height: 3rem;
//         width: 3rem;
//         margin-left: 0;
//         background-color: transparent !important;
//     }

//     .usa-banner__header-action::after {
//         background-image: url("../img/angle-arrow-down-primary.svg"), linear-gradient(transparent, transparent);
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: 0.5rem;
//         content: '';
//         display: inline-block;
//         height: 0.5rem;
//         width: 0.5rem;
//         margin-left: 2px;
//         background-color: transparent !important;
//     }
// }