{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="logo">
      <em class="usa-logo-text">

        <a href="{{ site.baseurl }}/" accesskey="1" title="CFO.gov" aria-label="CFO.gov">
          <img class="logo-size cfo-logo-size" src="{{ site.logo | prepend: site.baseurl }}" alt="United States CFO logo">
        </a>

      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img alt="close" src="{{ site.baseurl }}/assets/img/close.svg"></button>
      <ul class="usa-nav__primary usa-accordion"  >
        {% for nav_item in include.primary_navigation %}
        {% unless nav_item.children %}
        {% assign basedir = page.url | remove_first: '/' | split: '/' | first | lstrip %}
        {% assign linkdir = nav_item.url |  replace: "/", ""  | lstrip %}
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link{% if basedir == linkdir %} usa-current{% endif %}"
            href="{{ nav_item.url | prepend: site.baseurl}}"><span>{{ nav_item.name }}</span></a>
        </li>
        {% else %}
        {% assign nav_id = 'primary-nav-' | append: forloop.index %}
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="{{ nav_id }}"><span
              class="header-menu-text">{{ nav_item.name | escape }}</span></button>
          <ul id="{{ nav_id }}" class="usa-nav__submenu" hidden="">
            {% for subnav_item in nav_item.children %}
            <li class="usa-nav__submenu-item">
              <a href="{{ subnav_item.url | prepend: site.baseurl }}">{{ subnav_item.name | escape }}</a>
            </li>
            {% endfor %}
          </ul>

        </li>
        {% endunless %}
        {% endfor %}
      </ul>
      <div class="usa-nav__secondary secondary-nav-padding">
        <ul class="usa-nav__secondary-links">
          {% for nav_item in include.secondary_navigation %}
          <li class="usa-nav__secondary-item">
            {% if nav_item.url contains 'mailto:' or nav_item.url contains ':// %}
            {% assign prepend = '' %}
            {% else %}
            {% assign prepend = site.baseurl %}
            {% endif %}
            <a href="{{ nav_item.url | prepend: prepend }}">{{ nav_item.name | escape }}</a>
          </li>
          {% endfor %}
        </ul>
        {% include searchgov/form.html searchgov=site.searchgov %}
      </div>
    </div>
  </nav>
</header>
