
<div class="carousel top backgroundCover" style="background: url('{{ site.baseurl }}/assets/images/slider-image-new.png') no-repeat; background-size: 100% 100%; padding:45px 0; color:#fff;background-color: #000;">

    <div class="items lick-slide" aria-hidden="true">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Welcome to CFO.gov</h1>
            <p class="font-ui-md margin-top-0">We've got a new look! Explore our new features and learn how the <abbr title="Chief Financial Officer">CFO</abbr> Council tackles the most pressing issues in federal financial management.</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="{{site.baseurl}}/about-the-council/">About the CFO Council</a>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="{{site.baseurl}}/about-the-council/">Watch the video</a>
        </div>
    </div>

    <div class="item slick-slide" aria-hidden="true">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Policies &amp; Guidance</h1>
            <p class="font-ui-md margin-top-0">Welcome to the modernized CFO.gov! Bringing you policies, guidance, and priority areas that inform federal financial management.</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button&#45;&#45;secondary bg-red border-0 padding-2" href="{{site.baseurl}}/policies-and-guidance/">Policies &amp; Guidance</a></div>
    </div>

</div>
