<div class="welcome">
    <div class="grid-col-12 carousel-padding">
        <h1 class="font-ui-lg margin-bottom-1">Welcome to COFFA.gov!</h1>
            <div class="homepage-carousel-text carousel-text">
                <p class="font-ui-sm margin-top-0">Download M-25-14 Rescission of M-25-13</p>
            </div>
        <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button bg-emerald border-0 padding-2" href="{{site.baseurl}}/assets/files/M-25-14 Final.pdf">Download Here</a>
    </div>
</div>
