
<div class="carousel top backgroundCover" style="background: url('{{ site.baseurl }}/assets/images/slider-image-new.png') no-repeat; background-size: 100% 100%; padding:45px 0; color:#fff;background-color: #000;">
    <div class="item">
        <div class="grid-col-10 grid-offset-1">
            <h2 class="font-ui-xl">Welcome to CFO.gov</h2>
            <p class="font-ui-md">The CFO Council tackles the most pressing issues in federal financial management.</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0" href="{{site.baseurl}}/about-the-council/">About the CFO Council</a></div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1">
            <h2 class="font-ui-xl">The Latest</h2>
            <p class="font-ui-md">The Latest from the Priority Areas.</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0" href="{{site.baseurl}}/the-latest/">The Latest</a></div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1">
            <h2 class="font-ui-xl">Policies &amp; Guidance</h2>
            <p class="font-ui-md">Welcome to the modernized CFO.gov! Bringing you policies, guidance, and priority areas that inform Federal financial management..</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0" href="{{site.baseurl}}/policies-and-guidance/">Policies &amp; Guidance</a></div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1">
            <h2 class="font-ui-xl">Knowledge Sharing</h2>
            <p class="font-ui-md">Sharing best practices, training modules, career paths, video, and more with the CFO community.</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0" href="{{site.baseurl}}/knowledge-sharing/">Knowledge Sharing</a></div>
    </div>
</div>
