<div class="grid-col-10 grid-offset-1">
<div class="carousel bottom radius-md" style="background-image: url('{{ site.baseurl }}/assets/images/slider-image.jpg');padding:45px 0; color:#fff;background-color: #000;">
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">President's Management Agenda</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">CFO Act</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">Grants Resources</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">FASAB</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">Treasury Financial Manual</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">GAO Yellow Book</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5">OMB Budget Guidance</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="grid-col-10 grid-offset-1 margin-bottom-5">
            <h2 class="margin-top-0 margin-bottom-5"><abbr title="Association of Government Accountants">AGA</abbr> CEAR</h2>
            <div class="grid-row grid-gap">
                <div class="grid-col-8 grid-offset-2">
                    <p class="font-ui-md margin-top-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>