<div class="welcome">
    <div class="grid-col-10 grid-offset-1">
        <h1 class="font-ui-xl margin-bottom-1">Welcome to CFO.gov</h1>
        <p class="font-ui-md margin-top-0">The hub for Federal financial management and the Chief Financial Officers Council. CFO.gov hosts policies and priorities, training materials, and solutions sponsored by our Council.</p>
        <a class="margin-top-1 text-no-underline text-green margin-bottom-1 usa-button bg-yellow border-0 padding-2" href="{{site.baseurl}}/about-the-council/">Read More</a>
    </div>
</div>