<div id="tabs" class="grid-row clearfix">
    <ul>
        <li><a href="#tabs-1">Participate</a></li>
        <li><a href="#tabs-2">Send Feedback</a></li>
        <li><a href="#tabs-3">Contact Us</a></li>
    </ul>
    <div id="tabs-1" class="grid-col-8 grid-offset-1">
        <form action="https://formspree.io/FORM_ID" method="POST" class="usa-form">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Name</legend>
                <label class="usa-label" for="title">Title <span class="usa-hint">(optional)</span></label>
                <input class="usa-input usa-input--small" id="title" name="title" type="textbox">

                <label class="usa-label" for="first-name">First name</label>
                <input class="usa-input" id="first-name" name="first-name" type="text" required aria-required="true">

                <label class="usa-label" for="middle-name">Middle name <span class="usa-hint">(optional)</span></label>
                <input class="usa-input" id="middle-name" name="middle-name" type="text">

                <label class="usa-label" for="last-name">Last name</label>
                <input class="usa-input" id="last-name" name="last-name" type="text" required aria-required="true">
            </fieldset>
<!--            <label class="usa-label" for="submit">Submit</label>-->
            <button class="usa-button" id="Submit" type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <div id="tabs-2" class="grid-col-8 grid-offset-1">
        <form action="https://formspree.io/FORM_ID" method="POST" class="usa-form">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Name</legend>
                <label class="usa-label" for="title">Title <span class="usa-hint">(optional)</span></label>
                <input class="usa-input usa-input--small" id="title" name="title" type="text">

                <label class="usa-label" for="first-name">First name</label>
                <input class="usa-input" id="first-name" name="first-name" type="text" required aria-required="true">

                <label class="usa-label" for="middle-name">Middle name <span class="usa-hint">(optional)</span></label>
                <input class="usa-input" id="middle-name" name="middle-name" type="text">

                <label class="usa-label" for="last-name">Last name</label>
                <input class="usa-input" id="last-name" name="last-name" type="text" required aria-required="true">
            </fieldset>
<!--            <label class="usa-label" for="submit">Submit</label>-->
            <button class="usa-button" id="Submit" type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <div id="tabs-3" class="grid-col-8 grid-offset-1">
        <form action="https://formspree.io/FORM_ID" method="POST" class="usa-form">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Name</legend>
                <label class="usa-label" for="title">Title <span class="usa-hint">(optional)</span></label>
                <input class="usa-input usa-input--small" id="title" name="title" type="text">

                <label class="usa-label" for="first-name">First name</label>
                <input class="usa-input" id="first-name" name="first-name" type="text" required aria-required="true">

                <label class="usa-label" for="middle-name">Middle name <span class="usa-hint">(optional)</span></label>
                <input class="usa-input" id="middle-name" name="middle-name" type="text">

                <label class="usa-label" for="last-name">Last name</label>
                <input class="usa-input" id="last-name" name="last-name" type="text" required aria-required="true">
            </fieldset>
            <button class="usa-button" id="Submit" type="submit" value="Submit">Submit</button>
        </form>
    </div>
</div>

