<footer class="usa-footer">
    <div class="grid-container margin-top-2 margin-bottom-2">
        <a href="#" class="usa-button usa-button--outline border-0">Return to top</a>
    </div>

    <div class="usa-footer__secondary-section">

        {% if include.page_type != 'payment-accuracy' %}
        <div class="grid-container-footer">
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6 desktop:grid-col-3 padding-1">
                    <a href="{{ site.baseurl }}" style="color:black;text-decoration: none; display: block;" class="height-full">
                        <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/images/logos/footer-logo2.png" alt="General Services Administration logo">
                        <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/images/logos/footer-logo1.png" alt="Seal of the Executive Office of the President of the United States">
                    </a>
                </div>
                <div class="tablet:grid-col-6 desktop:grid-col-2 padding-1">
                    <ul class="usa-list usa-list--unstyled">
                        <li><a href="mailto:cxofellowship@gsa.gov" class="bold-footer-links text-gold"><strong>About the Site</strong></a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="bold-footer-links"><strong>Accessibility</strong></a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="bold-footer-links"><strong>FOIA</strong></a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="bold-footer-links"><strong>Privacy</strong></a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="bold-footer-links"><strong>FAQs</strong></a></li>
                    </ul>
                </div>
                <div class="tablet:grid-col-6 desktop:grid-col-3 padding-1">
                    <div class="usa-footer-logo-heading mobile-lg:font-ui-md text-base-lightest padding-bottom-1"><strong>Contact Us</strong></div>
                    <ul class="usa-list usa-list--unstyled padding-bottom-205">
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">cxofellowship@gsa.gov</a></li>
                    </ul>
                    <div class="usa-footer-logo-heading mobile-lg:font-ui-md text-base-lightest padding-bottom-1"><strong>Related Sites</strong></div>
                    <ul class="usa-list usa-list--unstyled padding-bottom-205">
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">PaymentAccuracy.gov</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Grants.gov</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Sam.gov</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Performance.gov</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Data.gov</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">MadeInAmerica.gov</a></li>
                    </ul>
                </div>
                <div class="tablet:grid-col-6 desktop:grid-col-4 padding-1">
                    <div class="usa-footer-logo-heading mobile-lg:font-ui-md text-base-lightest padding-bottom-1"><strong>Related Councils</strong></div>
                    <ul class="usa-list usa-list--unstyled padding-bottom-205">
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Made In America Council (MIAC)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Chief Human Capital Officers Council (CHCO)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Chief Acquisition Officers Council (CAOC)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Chief Data Officers Council (CDOC)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Chief Information Officers Council (CIOC)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Evaluation Officer Council (EOC)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Federal Privacy Council (FPC)</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Performance Improvement Council (PIC)</a></li>
                    </ul>
                    <div class="usa-footer-logo-heading mobile-lg:font-ui-md text-base-lightest padding-bottom-1"><strong>Other Information and Services</strong></div>
                    <ul class="usa-list usa-list--unstyled padding-bottom-205">
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">General Services Administration</a></li>
                        <li><a href="mailto:cxofellowship@gsa.gov" class="footer-links">Office of Management and Budget</a></li>
                    </ul>
                </div>
                <!--<div class="usa-footer__logo grid-row mobile-lg:grid-col-9 mobile-lg:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto">
                        <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/images/logos/footer-logo2.png" alt="General Services Administration logo">
                        <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/images/logos/footer-logo1.png" alt="Seal of the Executive Office of the President of the United States">
                    </div>
                    <div class="mobile-lg:grid-col-8">
                        <p class="usa-footer-logo-heading mobile-lg:font-ui-md"><strong>General Services Administration &<br> Office of Management and Budget</strong></p>
                    </div>
                </div>-->
                <!--<div class="usa-footer__contact-links mobile-lg:grid-col-3">
                    <div class="usa-footer-logo-heading mobile-lg:font-ui-md"><strong>Contact Us</strong></div>
                    {% if include.page_type == 'cxo' %}
                    <ul class="usa-list usa-list--unstyled">
                        <li><a href="mailto:cxofellowship@gsa.gov">cxofellowship@gsa.gov</a></li>
                        <li class="usa-footer__secondary-link margin-top-1">
                            <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/cxo_fellows" target="_blank" title="(opens New Window)">
                                <span>Twitter footer</span>
                            </a>
                            <a class="usa-social-link usa-social-link--linkedin-cfo" href="https://www.linkedin.com/company/thecxofellowship/" target="_blank" title="(opens New Window)">
                                <span>LinkedIn footer</span>
                            </a>
                        </li>
                    </ul>

                    {% else %}

                    <address class="usa-footer__address">
                        <div class="usa-footer__contact-info grid-row grid-gap">
                            <div class="grid-col-auto">
                                <p>
                                    {% if include.page_type == 'frpc' %}
                                    {{ site.footer.contact.frpc-email }}
                                    {% elsif include.page_type == 'jfmip' %}
                                    {{ site.footer.contact.jfmip-email }}
                                    {% else %}
                                    {{ site.footer.contact.email }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </address>
                    {% endif %}
                </div>-->
            </div>
        </div>

        {% else %}

        <div class="footer-section-bottom bg-base-lighter">
            <div class="grid-container">
                <div class="usa-graphic-list__row grid-row grid-gap padding-3 ">

                    <div class="col-md-4">
                        <div id="text-3" class="widget widget_text">
                            <div class="textwidget"><p><a href="https://www.usaspending.gov/#/about/accessibility">Accessibility</a> | <a href="https://www.usaspending.gov/#/about/privacy"> Privacy Policy</a></p>
                            </div>
                        </div>
                        <div id="text-4" class="widget widget_text">
                            <div class="textwidget">
                                <p><a href="http://www.performance.gov">Performance.gov</a> | <a href="https://www.whitehouse.gov/">Whitehouse.gov</a> | <a href="https://www.usa.gov/">USA.gov</a> | <a href="https://www.usaspending.gov/#/">USAspending.gov</a> | <a href="https://fiscal.treasury.gov/DNP/">Fiscal.Treasury.gov&nbsp;</a></p>
                            </div>
                        </div>
                        <div id="text-6" class="widget widget_text">
                            <div class="textwidget">
                                <p><a href="https://www.gao.gov/about/what-gao-does/fraudnet/">Report Fraud, Waste and Abuse</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

</footer>
