{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

<div class="page-landing-page layout-demo ">
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            {% asset us_flag_small.png class="usa-banner__header-flag" alt="U.S. flag" %}
          </div>
          <div class="grid-col-fill tablet:grid-col-auto">
            <p class="usa-banner__header-text">An official website of the United States government</p>
            <p class="usa-banner__header-action" aria-hidden="true">Here's how you know</p>
          </div>
          <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
            <span class="usa-banner__button-text">Here's how you know</span>
          </button>
        </div>
      </header>
      <div class="usa-banner__content usa-accordion__content" id="gov-banner">
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            {% asset icon-dot-gov.svg class="usa-banner__icon usa-media-block__img" alt="Dot gov" %}
            <div class="usa-media-block__body">
              <p>
                <strong>The .gov means it's official.</strong>
                <br>
                Federal Government websites often end in .gov or .mil. Before sharing sensitive information, make sure
                you're on a Federal Government site.
              </p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            {% asset icon-https.svg class="usa-banner__icon usa-media-block__img" alt="Https" %}
            <div class="usa-media-block__body">
              <p>
                <strong>The site is secure.</strong>
                <br>
                The <strong>https://</strong> ensures that you are connecting to the official website and that any
                information you provide is encrypted and transmitted securely.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-overlay"></div>
  {% if page.type == "workforce-modernization" %}
    <div class="workforce-banner bg-primary-dark">
      <div class="grid-container text-white padding-y-05">
        <p><strong>Are you an online course provider or university?</strong></p>
        <p>The CFO Council is seeking applications from premier training providers to help revolutionize our approach to workforce training and upskill our 140,000+ member federal financial management workforce. <a class="text-white" href="{{site.baseurl}}/workforce-modernization/application-guidance">Learn more!</a></p>
      </div>
    </div>
  {% endif %}

</div>
