{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<header class="usa-header usa-header--extended" role="banner">
    <div class="usa-navbar">
        <div class="usa-logo" id="logo">
            <em class="usa-logo-text">

                <a href="{{ site.baseurl }}/jfmip/" accesskey="1" title="JFMIP Page" aria-label="JFMIP Page">
                    <img class="jfmip-logo-size" src="{{ site.jfmip-logo | prepend: site.baseurl }}" alt="JFMIP logo">
                </a>

            </em>
            <div><a class="margin-1em font-sans-md text-underline" href="{{ site.baseurl }}/">&#10094; &nbsp; Back to CFO</a></div>
        </div>
<!--        <div><a href="{{ site.baseurl }}/">Back to CFO</a></div>-->
<!--        <button class="usa-menu-btn">Menu</button>-->
    </div>
    <nav role="navigation" class="usa-nav">
        <div class="usa-nav__inner">
            <div class="usa-nav__secondary secondary-nav-padding">
                <ul class="usa-nav__secondary-links">
                    {% for nav_item in include.secondary_navigation %}
                    <li class="usa-nav__secondary-item">
                        <a href="{{ nav_item.url  }}">{{ nav_item.name | escape }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% include searchgov/form.html searchgov=site.searchgov %}
            </div>
        </div>
    </nav>
</header>
