<!--********Generates resource catalog items. Individual cards live in the in the _presources folder**************-->

<div class="usa-media-block tablet:grid-col-9">
    <p class="filter-count card-tag margin-top-0 text-gray-50 text-thin"></p>
    <div class="knowledge-sharing" >
        {% for grant in site.grants %}
        {% if grant.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4 grid-spacing policy {{ grant.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover">
                <div class="text-container">
                    <p  class="title-resources">
                        {% if grant.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ grant.permalink }}">{{ grant.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ grant.doc-link }}">{{ grant.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = grant.filters | split: ' ' %}
                    {% for filter in filters %}
                        {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                        {% if has_link == 'No' %}
                            <p class="title-resources">
                                {{ filter | upcase }}
                            </p>
                        {% else %}
                            {% assign hyphen_filter = filter | split: '-' %}
                            <p class="title-resources">
                                    {% for second_filter in hyphen_filter %}
                                        {{ second_filter | upcase }}
                                    {% endfor %}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
<!--    </div>-->
<!--    <div class="knowledge-sharing" >-->
        {% for erm_item in site.erm %}
        {% if erm_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4 grid-spacing policy {{ erm_item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p  class="title-resources">
                        {% if erm_item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ erm_item.permalink }}">{{ erm_item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ erm_item.doc-link }}">{{ erm_item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = erm_item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
<!--    </div>-->
        {% for fdt_item in site.fdt %}
        {% if fdt_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4 grid-spacing policy {{ fdt_item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p  class="title-resources">
                        {% if fdt_item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ fdt_item.permalink }}">{{ fdt_item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ fdt_item.doc-link }}">{{ fdt_item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = fdt_item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for fmt_item in site.fmt %}
        {% if fmt_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4 grid-spacing policy {{ fmt_item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p  class="title-resources">

                        {% if fmt_item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ fmt_item.permalink }}">{{ fmt_item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ fmt_item.doc-link }}">{{ fmt_item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = fmt_item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for gpr_item in site.gpr %}
        {% if gpr_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4 grid-spacing policy {{ gpr_item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p   class="title-resources">

                        {% if jfmip_item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ gpr_item.permalink }}">{{ gpr_item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ gpr_item.doc-link }}">{{ gpr_item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = gpr_item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for jfmip_item in site.jfmip %}
        {% if jfmip_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4 grid-spacing policy {{ jfmip_item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p  class="title-resources">
                        {% if jfmip_item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ jfmip_item.permalink }}">{{ jfmip_item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ jfmip_item.doc-link }}">{{ jfmip_item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = jfmip_item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for item in site.cxo %}
        {% if item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4  grid-spacing policy {{ item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p  class="title-resources">
                        {% if item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ item.permalink }}">{{ item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ item.doc-link }}">{{ item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for item in site.knowledge_sharing %}
        {% if item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-4  grid-spacing policy {{ item.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container">
                    <p  class="title-resources">
                        {% if item.permalink %}
                        <a  class="no-style" href="{{ site.baseurl }}{{ item.permalink }}">{{ item.subtitle }}</a>
                        {% else %}
                        <a  class="no-style" href="{{ item.doc-link }}">{{ item.subtitle }}</a>
                        {% endif %}
                    </p>
                    {% assign filters = item.filters | split: ' ' %}
                    {% for filter in filters %}
                    {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                    {% if has_link == 'No' %}
                    <p class="title-resources">
                        {{ filter | upcase }}
                    </p>
                    {% else %}
                    {% assign hyphen_filter = filter | split: '-' %}
                    <p class="title-resources">
                        {% for second_filter in hyphen_filter %}
                        {{ second_filter | upcase }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
