<!--***********buttons for knowledge sharing page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">
<!--    class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button&#45;&#45;secondary bg-red border-0"-->
    <a class="usa-button usa-button--outline border-0 margin-bottom-2" href="{{ site.baseurl }}/knowledge-sharing/#priority_area=*&type=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by Area</h2>
        <ul class="filter-list" data-filter-group="priority_area">
            <li><a aria-label="Filter by Type: ERM" role="checkbox" href="javascript:void(0)" data-filter=".erm">Enterprise Risk Management</a></li>
            <li><a aria-label="Filter by Type: FMT" role="checkbox" href="javascript:void(0)" data-filter=".fmt">Fiscal Mgmt Transformation</a></li>
            <li><a aria-label="Filter by Type: Payment Integrity" role="checkbox" href="javascript:void(0)" data-filter=".payment-integrity">Payment Integrity</a></li>
            <li><a aria-label="Filter by Type: Financial Assistance" role="checkbox" href="javascript:void(0)" data-filter=".financial-assistance">Financial Assistance</a></li>
            <li><a aria-label="Filter by Type: FDT" role="checkbox" href="javascript:void(0)" data-filter=".fdt">Financial Data Transformation</a></li>
            <li><a aria-label="Filter by Type: JFMIP" role="checkbox" href="javascript:void(0)" data-filter=".jfmip"><abbr title="Joint Financial Management Improvement Program">JFMIP</abbr></a></li>
            <li><a aria-label="Filter by Type: FRPC" role="checkbox" href="javascript:void(0)" data-filter=".frpc"><abbr title="Federal Real Property Council">FRPC</abbr></a></li>
            <li><a aria-label="Filter by Type: CXO Fellows" role="checkbox" href="javascript:void(0)" data-filter=".cxo-fellows">CXO Fellows</a></li>
            <li><a aria-label="Filter by Type: Fraud" role="checkbox" href="javascript:void(0)" data-filter=".fraud">Fraud</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Type</h2>
        <ul class="filter-list" data-filter-group="type">
            <li><a aria-label="Filter by type: Helpful Link" role="checkbox" href="javascript:void(0)" data-filter=".helpful-link">Helpful Link</a></li>
            <li><a aria-label="Filter by type: Training Video" role="checkbox" href="javascript:void(0)" data-filter=".training-video">Training Video</a></li>
            <li><a aria-label="Filter by type: Training Module" role="checkbox" href="javascript:void(0)" data-filter=".training-module">Training Module</a></li>
            <li><a aria-label="Filter by type: Best Practice Guidance" role="checkbox" href="javascript:void(0)" data-filter=".best-practice-guidance">Best Practice Guidance</a></li>
            <li><a aria-label="Filter by type: Playbook" role="checkbox" href="javascript:void(0)" data-filter=".playbook">Playbook</a></li>
            <li><a aria-label="Filter by type: My Career" role="checkbox" href="javascript:void(0)" data-filter=".my-career">My Career</a></li>
        </ul>

    </nav>
</div>
