<!--********Generates resource catalog items. Individual cards live in the in the _presources folder**************-->

<div class="usa-media-block tablet:grid-col-9">
    <p class="filter-count card-tag margin-top-0 text-gray-50 text-thin"></p>
    <div class="knowledge-sharing" >
        {% for grant in site.grants %}
        {% if grant.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ grant.filters }}">
            <div class="shadow-1 knowledge-border ">
                <div class="text-container">
                    <span class="card-tag">{{ grant.type }}</span>
                    <p>
                        {% if grant.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ grant.permalink }}">{{ grant.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ grant.doc-link }}">{{ grant.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
<!--    </div>-->
<!--    <div class="knowledge-sharing" >-->
        {% for erm_item in site.erm %}
        {% if erm_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ erm_item.filters }}">
            <div class="shadow-1 knowledge-border ">
                <div class="text-container">
                    <span class="card-tag">{{ erm_item.type }}</span>
                    <p>
                        {% if erm_item.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ erm_item.permalink }}">{{ erm_item.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ erm_item.doc-link }}">{{ erm_item.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
<!--    </div>-->
        {% for fdt_item in site.fdt %}
        {% if fdt_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ fdt_item.filters }}">
            <div class="shadow-1 knowledge-border ">
                <div class="text-container">
                    <span class="card-tag">{{ fdt_item.type }}</span>
                    <p>
                        {% if fdt_item.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ fdt_item.permalink }}">{{ fdt_item.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ fdt_item.doc-link }}">{{ fdt_item.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for fmt_item in site.fmt %}
        {% if fmt_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ fmt_item.filters }}">
            <div class="shadow-1 knowledge-border ">
                <div class="text-container">
                    <span class="card-tag">{{ fmt_item.type }}</span>
                    <p>
                        {% if fmt_item.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ fmt_item.permalink }}">{{ fmt_item.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ fmt_item.doc-link }}">{{ fmt_item.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for gpr_item in site.gpr %}
        {% if gpr_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ gpr_item.filters }}">
            <div class="shadow-1 knowledge-border ">
                <div class="text-container">
                    <span class="card-tag">{{ gpr_item.type }}</span>
                    <p>
                        {% if gpr_item.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ gpr_item.permalink }}">{{ gpr_item.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ gpr_item.doc-link }}">{{ gpr_item.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for jfmip_item in site.jfmip %}
        {% if jfmip_item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ jfmip_item.filters }}">
            <div class="shadow-1 knowledge-border">
                <div class="text-container">
                    <span class="card-tag">{{ jfmip_item.type }}</span>
                    <p>
                        {% if jfmip_item.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ jfmip_item.permalink }}">{{ jfmip_item.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ jfmip_item.doc-link }}">{{ jfmip_item.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for item in site.knowledge_sharing %}
        {% if item.layout == "knowledge-sharing-landing" %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ item.filters }}">
            <div class="shadow-1 knowledge-border ">
                <div class="text-container">
                    <span class="card-tag">{{ item.type }}</span>
                    <p>
                        {% if item.permalink %}
                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ item.permalink }}">{{ item.subtitle }}</a>
                        {% else %}
                        <a title="policy or priority title" class="no-style" href="{{ item.doc-link }}">{{ item.subtitle }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
<!--        {% for career_item in site.my_career %}-->
<!--        {% if career_item.layout == "knowledge-sharing-landing" %}-->
<!--        <div class="tablet:grid-col-3 grid-spacing policy {{ career_item.filters }}">-->
<!--            <div class="shadow-1 knowledge-border">-->
<!--                <div class="text-container">-->
<!--                    <span class="card-tag">{{ career_item.type }}</span>-->
<!--                    <p>-->
<!--                        {% if career_item.permalink %}-->
<!--                        <a title="policy or priority title" class="no-style" href="{{ site.baseurl }}{{ career_item.permalink }}">{{ career_item.subtitle }}</a>-->
<!--                        {% else %}-->
<!--                        <a title="policy or priority title" class="no-style" href="{{ career_item.doc-link }}">{{ career_item.subtitle }}</a>-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
    </div>
</div>
