{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="index,follow">
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{{page.title}}</title>
  <meta property="og:title" content="{{page.title}}">
  <!-- <meta name="description" content="{{page.description}}"> -->
  <meta name="keyword" content="{{page.keyword}}">

  {% if page.filters == "cxo-fellows" or page.url contains "cxo-fellows" %}
  <meta name="image" property="og:image" content="https://www.cfo.gov/assets/images/logos/cxo-preview-large.png">
  <meta name="description" property="og:description" content="{{page.filler}}">
  {% else %}
  <meta name="image" property="og:image" content="{{site.baseurl}}/assets/images/logos/cfo-preview.png">
  <meta name="description" property="og:description" content="{{page.description}}">
  {% endif %}

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{site.baseurl}}/">
  <meta property="og:url" content="{{site.baseurl}}/">
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicon_transparent.png">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/slick.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/slick-theme.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/magnific-popup.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/index.css?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main-page.css?{{ site.time | date: '%s%N' }}">
  {% asset index.scss %}
  {% asset main-page.scss %}
</head>
