<!--***********buttons for policies guidance sharing page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

    <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/policies-guidance/#priority_area=*&type=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by Priority Area</h2>
        <ul class="filter-list" data-filter-group="priority_area">
            <li><a aria-label="Filter by Type: ERM" role="checkbox" href="javascript:void(0)" data-filter=".erm">ERM</a></li>
            <li><a aria-label="Filter by Type: FMT ESC" role="checkbox" href="javascript:void(0)" data-filter=".fmt">FMT ESC</a></li>
            <li><a aria-label="Filter by Type: GPR" role="checkbox" href="javascript:void(0)" data-filter=".gpr">GPR</a></li>
            <li><a aria-label="Filter by Type: Grants" role="checkbox" href="javascript:void(0)" data-filter=".grants">Grants</a></li>
            <li><a aria-label="Filter by Type: FDT ESC" role="checkbox" href="javascript:void(0)" data-filter=".fdt">FDT ESC</a></li>
            <li><a aria-label="Filter by Type: My Career" role="checkbox" href="javascript:void(0)" data-filter=".my-career">My Career</a></li>
            <li><a aria-label="Filter by Type: CXO Fellows" role="checkbox" href="javascript:void(0)" data-filter=".cxo-fellows">CXO Fellows</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Type</h2>
        <ul class="filter-list" data-filter-group="type">
            <li><a aria-label="Filter by type: Helpful Link" role="checkbox" href="javascript:void(0)" data-filter=".helpful-link">Helpful Link</a></li>
            <li><a aria-label="Filter by type: Training Video" role="checkbox" href="javascript:void(0)" data-filter=".training-video">Training Video</a></li>
            <li><a aria-label="Filter by type: Training Module" role="checkbox" href="javascript:void(0)" data-filter=".training-module">Training Module</a></li>
        </ul>

    </nav>
</div>
