<!--***********buttons for policies guidance sharing page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

    <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/policies/#priority_area=*&type=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by Area</h2>
        <ul class="filter-list" data-filter-group="priority_area">
            <li><a aria-label="Filter by Type: ERM" role="checkbox" href="javascript:void(0)" data-filter=".erm">Enterprise Risk Management</a></li>
            <li><a aria-label="Filter by Type: FMT ESC" role="checkbox" href="javascript:void(0)" data-filter=".fmt">Fiscal Management Transformation</a></li>
            <li><a aria-label="Filter by Type: GPR" role="checkbox" href="javascript:void(0)" data-filter=".payment-integrity">Payment Integrity</a></li>
            <li><a aria-label="Filter by Type: Grants" role="checkbox" href="javascript:void(0)" data-filter=".grants">Grants</a></li>
            <li><a aria-label="Filter by Type: FDT ESC" role="checkbox" href="javascript:void(0)" data-filter=".fdt">Financial Data Transformation</a></li>
            <li><a aria-label="Filter by Type: My Career" role="checkbox" href="javascript:void(0)" data-filter=".jfmip">JFMIP</a></li>
            <li><a aria-label="Filter by Type: My Career" role="checkbox" href="javascript:void(0)" data-filter=".frpc">FRPC</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Type</h2>
        <ul class="filter-list" data-filter-group="type">
            <li><a aria-label="Filter by type: Controller Alerts" role="checkbox" href="javascript:void(0)" data-filter=".controller-alerts">Controller Alerts</a></li>
            <li><a aria-label="Filter by type: OMB Memorandums" role="checkbox" href="javascript:void(0)" data-filter=".omb-memorandums">OMB Memorandums</a></li>
            <li><a aria-label="Filter by type: Executive Orders" role="checkbox" href="javascript:void(0)" data-filter=".executive-orders">Executive Orders</a></li>
            <li><a aria-label="Filter by type: Others" role="checkbox" href="javascript:void(0)" data-filter=".others">Others</a></li>
        </ul>

    </nav>
</div>
