<!--***********buttons for policies guidance sharing page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

    <a class="usa-button usa-button--outline border-0 margin-bottom-2" href="{{ site.baseurl }}/policies-and-guidance/#priority_area=*&type=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by Area</h2>
        <ul class="filter-list" data-filter-group="priority_area">
            <li><a aria-label="Filter by Type: ERM" role="checkbox" href="javascript:void(0)" data-filter=".erm">Enterprise Risk Management</a></li>
            <li><a aria-label="Filter by Type: Workforce" role="checkbox" href="javascript:void(0)" data-filter=".workforce-modernization">Workforce Modernization</a></li>
            <li><a aria-label="Filter by Type: ARP" role="checkbox" href="javascript:void(0)" data-filter=".arp">American Rescue Plan (ARP)</a></li>
            <li><a aria-label="Filter by Type: FMT" role="checkbox" href="javascript:void(0)" data-filter=".fmt">Fiscal Mgmt Transformation</a></li>
            <li><a aria-label="Filter by Type: Payment Integrity" role="checkbox" href="javascript:void(0)" data-filter=".payment-integrity">Payment Integrity</a></li>
            <li><a aria-label="Filter by Type: Financial Assistance" role="checkbox" href="javascript:void(0)" data-filter=".financial-assistance">Financial Assistance</a></li>
            <li><a aria-label="Filter by Type: FDT" role="checkbox" href="javascript:void(0)" data-filter=".fdt">Financial Data Transformation</a></li>
            <li><a aria-label="Filter by Type: JFMIP" role="checkbox" href="javascript:void(0)" data-filter=".jfmip"><abbr title="Joint Financial Management Improvement Program">JFMIP</abbr></a></li>
            <li><a aria-label="Filter by Type: FRPC" role="checkbox" href="javascript:void(0)" data-filter=".frpc"><abbr title="Federal Real Property Council">FRPC</abbr></a></li>
            <li><a aria-label="Filter by Type: Reports" role="checkbox" href="javascript:void(0)" data-filter=".reports">Financial Mgt Reports</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Type</h2>
        <ul class="filter-list" data-filter-group="type">
            <li><a aria-label="Filter by type: Controller Alerts" role="checkbox" href="javascript:void(0)" data-filter=".controller-alerts">Controller Alerts</a></li>
            <li><a aria-label="Filter by type: OMB Memorandums" role="checkbox" href="javascript:void(0)" data-filter=".omb-memorandums"><abbr title="Office of Management and Budget">OMB</abbr> Memorandums</a></li>
            <li><a aria-label="Filter by type: Executive Orders" role="checkbox" href="javascript:void(0)" data-filter=".executive-orders">Executive Orders</a></li>
            <li><a aria-label="Filter by type: Guidance" role="checkbox" href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
            <li><a aria-label="Filter by type: Others" role="checkbox" href="javascript:void(0)" data-filter=".others">Others</a></li>
        </ul>

    </nav>
</div>
