<div id="tabs" class="grid-row clearfix">
    <ul class="tablet:grid-col-3 shadow-5">
        <li><a href="#tabs-1" role="tab" aria-controls="tabs-1" id="tab-btn-1" class="text-no-underline text-base-darker font-sans-md">Overview</a></li>
        <li><a href="#tabs-2" role="tab" aria-controls="tabs-2" id="tab-btn-2" class="text-no-underline text-base-darker font-sans-md">Why This Matters to the CFO Council</a></li>
    </ul>

    <div id="tabs-1" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-1" class="tablet:grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        <p>In accordance with the <a href="https://www.govinfo.gov/content/pkg/STATUTE-104/pdf/STATUTE-104-Pg2838.pdf" target="_blank">CFO Act of 1990</a> the following information represents the financial management status report and a government-wide 5-year financial management plan. The report references the Financial Management Progress and Priorities section within the Financial Report of the U.S. Government. Additionally, the report highlights the most recent fiscal year’s financial reporting results.</p>
    </div>
    <div id="tabs-2" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-2" class="tablet:grid-col-9 padding-4">
        <p>Today, accountability means providing transparent information to the public about where and how federal dollars are being spent. It means protecting against fraud. It means avoiding wasteful or excessive use of taxpayer funds. It means ensuring that the federal government is not only responsible stewards of taxpayer dollars, but frugal stewards as well, looking for every opportunity to save money and create greater efficiencies.</p>
        <p>The federal government has come a long way since the passage of the CFO Act in 1990. Today, the federal financial management community is focused on three important improvement initiatives:</p>
        <ur>
            <li>Improving the quality, utility, and transparency of financial information;</li>
            <li>Protecting against waste, fraud, and abuse; and</li>
            <li>Helping agencies maximize the impact of their limited financial resources.</li>
        </ur>
    </div>
</div>