<div id="tabs" class="grid-row clearfix">
    <ul class="grid-col-3 shadow-5">
        <li><a href="#tabs-1" class="text-no-underline text-base-darker font-sans-md">The Latest</a></li>
        <li><a href="#tabs-2" class="text-no-underline text-base-darker font-sans-md">About Fiscal Management Transformation</a></li>
        <li><a href="#tabs-3" class="text-no-underline text-base-darker font-sans-md">Strategy</a></li>
        <li><a href="#tabs-4" class="text-no-underline text-base-darker font-sans-md">ESC Membership</a></li>
        <li><a href="#tabs-5" class="text-no-underline text-base-darker font-sans-md">Org Structure</a></li>

    </ul>
    <div id="tabs-1" class="grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        {% assign sorted = (site.fmt | where: 'has_date', 'yes' | sort: 'date') | reverse %}
        {% for item in sorted limit:3 %}
        <div class="border-top border-gray-30">
            <div class="grid-row grid-gap margin-top-2 margin-bottom-3">
                <div class="grid-col-2 text-center"><p class="pill radius-pill padding-top-1 padding-bottom-1 margin-top-0 margin-bottom-0">{{ item.date | date: "%m/%d/%Y" }}</p></div>
                <div class="grid-col">
                    <h3 class="margin-top-0">{{ item.title }}</h3>
                    <p>{{ item.filler | truncate:500 }}</p>
                    {% if item.permalink %}
                        <a title="policy or priority title" class="text-no-underline text-bold" href="{{ site.baseurl }}{{ item.permalink }}">Read more</a>
                    {% elsif item.doc-link %}
                        <a title="policy or priority title" class="text-no-underline text-bold" href="{{ item.doc-link }}">Read more</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="tabs-2" class="grid-col-9 padding-4">
        <h2>Goal Statements</h2>
        <ul>
            <li>Modernize the production of financial information to efficiently and effectively manage operations of the federal government and provide accountability to taxpayers.</li>
            <li>Provide opportunities for federal agencies to consolidate financial management requirements to develop and implement standardized solutions.</li>
            <li>Align with the government-wide human capital strategy to recruit, develop, empower, and retain the financial management workforce for the 21st Century.</li>
            <li>Engage with stakeholders to improve the value of reporting and auditing.
            </li>
        </ul>
        <h2>Challenges</h2>
        <ul>
            <li>Over time, agencies have implemented financial management processes that are incompatible, operating in silos, highly tailored to their specific needs, and unable to share or compare information.</li>
            <li>Financial management modernization efforts present unique human capital challenges encompassing a wide range of job classifications, technical skills, and geographic needs.</li>
            <li>Resistance to change held by financial management policy and oversight communities have resulted in capability gaps,  fragmentation, and duplication.</li>
            <li>Agencies are in various phases of the systems lifecycle, standards adoption, and implementation.</li>
        </ul>
        <h2>Opportunities</h2>
        <ul>
            <li>Leverage investments and lessons learned from the past to inform the path towards financial management modernization.</li>
            <li>Improve on existing resources, tools, and best practices to optimize financial management processes to drive better outcomes.</li>
            <li>Connect talented candidates to address critical financial management needs, build institutional knowledge, and ensure successful succession planning.</li>
        </ul>
    </div>
    <div id="tabs-3" class="grid-col-9 padding-4">
        <p>The Fiscal Management Transformation Priority Area strategic approach is featured below:</p>
        <img  alt="fmt strategy image" src="{{ site.baseurl }}/assets/images/fmt_strategy.jpg">
    </div>
    <div id="tabs-4" class="grid-col-9 padding-4">
        <p>The Executive Steering Committee membership for the Fiscal Management Transformation Priority Area includes:
            <ul>
                <li>Office of Management & Budget</li>
                <li>Department of Treasury</li>
                <li>Department of Commerce</li>
                <li>National Science Foundation</li>
                <li>General Services Administration</li>
            </ul>
        </p>
    </div>
    <div id="tabs-5" class="grid-col-9 padding-4">
        <p>Below is the Executive Steering Committee organizational structure for the Fiscal Management Transformation Priority Area:</p>
        <img  alt="fmt strategy image" src="{{ site.baseurl }}/assets/images/fmt_org_structure.jpg">
    </div>

</div>

