<div id="tabs" class="grid-row clearfix">
    <ul class="tablet:grid-col-3 shadow-5">
        <li><a href="#tabs-1" role="tab" aria-controls="tabs-1" id="tab-btn-1" class="text-no-underline text-base-darker font-sans-md">About the Workforce Modernization Initiative</a></li>
        <li><a href="#tabs-2" role="tab" aria-controls="tabs-2" id="tab-btn-2" class="text-no-underline text-base-darker font-sans-md">Primary Initiatives</a></li>
        <li><a href="#tabs-3" role="tab" aria-controls="tabs-3" id="tab-btn-3" class="text-no-underline text-base-darker font-sans-md">Membership</a></li>
        <li><a href="#tabs-4" role="tab" aria-controls="tabs-4" id="tab-btn-4" class="text-no-underline text-base-darker font-sans-md">How Feds Can Get Involved </a></li>
        <li><a href="#tabs-5" role="tab" aria-controls="tabs-4" id="tab-btn-5" class="text-no-underline text-base-darker font-sans-md">In the News</a></li>

    </ul>

    <div id="tabs-1" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-1" class="tablet:grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        <p>Emerging technology is causing tremendous change within the federal workforce &ndash; making many current positions obsolete and creating new roles and processes. The roles created require new skills that are increasingly complex. To succeed, federal employees will need access to continuous learning tools and dynamic training content in a variety of modalities.</p>
        <p>The CFO Workforce Modernization Working Group (Working Group), established in 2019, is tasked with managing the federal financial workforce modernization needs. It is currently in the process of significantly scaling up resources and membership in order to implement the Workforce Modernization Strategy and Career Planning and Training Initiative. The Working Group closely coordinates with the Office of Management and Budget, Office of Personnel Management, and the other Executive Councils.&nbsp;</p>
        <p>Each year the Working Group takes on a number of key initiatives.</p>
    </div>
    <div id="tabs-2" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-2" class="tablet:grid-col-9 padding-4">
        <p>The current focus of the Working Group includes four key initiatives:</p>
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6">
            <ul>
                <li><strong>Workforce Modernization Strategy:</strong> A 10-year initiative, the <a href="{{ site.baseurl }}/workforce-modernization/workforce-modernization-strategy/">Workforce Modernization Strategy</a> focuses on seven important areas to be addressed in a phased approach over the next 10 years. These key areas are:
                    <ul>
                        <li>Leveraging Data as Strategic Asset</li>
                        <li>Supporting the Current Workforce</li>
                        <li>Recruiting the Future Workforce</li>
                        <li>Adapting to Technology</li>
                        <li>Planning for Succession</li>
                        <li>Facilitating Culture Change</li>
                        <li>Building Lasting Partnerships</li>
                    </ul>
                </li>
            </ul>
            <div class="margin-left-5">The Strategy also identifies 10 skills that federal financial management employees will need to succeed and advance in their careers such as data management, robotic process automation, and virtual engagement.</div> 
            </div>
            <div class="tablet:grid-col-6 padding-top-2 padding-bottom-2">
                <div>
                   <img src="{{ site.baseurl }}/assets/images/CFO-graphic-10-year.png" alt="Graphic showing 7 strategic areas, prioritized by near-, medium-, and long-term and list ten skills for the future.">
                </div>
            </div>
		</div>
        <ul>
            <li><strong>Data Analytics Training:</strong> The Working Group is aware of an urgent need for data analytics training in the federal financial management workforce. The Working Group, in partnership with the <a href="https://www.cdo.gov/">Chief Data Officers Council</a>, is exploring different options to provide short term data analytics training to a pilot cohort of federal employees. The cohorts would test different curriculum approaches (university courses, micro-learning, etc.) to measure the impact of concentrated upskilling in a key functional need area.<br/><br/>
                The Working Group is in the planning phase of the pilot initiative
            </li>
        </ul>
        <ul>
            <li><strong>Centralized Recruiting Pilot:</strong> <a href="{{ site.baseurl }}/workforce-modernization/centralized-recruiting-pilot/">The Centralized Recruiting Pilot</a> aims to make the federal hiring process more efficient and competitive by creating a centralized pool of pre-screened, placement-ready accounting candidates from which the federal financial management community can directly hire<br /><br />
                The pilot was successfully tested for three government-wide accounting positions at the GS-07 - 13. The Working Group is currently documenting lessons learned to determine next steps for this initiative. 
            </li>
        </ul>
        <ul>
            <li><strong>Career Planning & Training Initiative:</strong> The Working Group recognizes a need for a comprehensive career planning tool for federal financial management employees as well as vastly increased access to training pathways. <br /><br />
                As envisioned, the career planning tool will provide detailed career advancement guidance to the federal financial management workforce, helping them identify skills gaps and pointing users to best-in-class training content, provided by the private sector for purchase, to help them advance their skills. <br /><br />
                The Working Group and CFO Council, in partnership with the Office of Management and Budget, U.S. Department of Treasury, and General Services Administration are currently seeking to form partnerships with a select group of education providers or online universities to partner on this initiative and provide tailored course content directly to the 140,000+ member financial management workforce. <br /><br />
                Interested training provider vendors can respond to the CFO Council’s Application Announcement. Please click <a href="{{ site.baseurl }}/workforce-modernization/application-guidance/">here</a> for more information. The opportunity is open for applications until Feb 25, 2022.
                </li>
        </ul>
    </div>
    <div id="tabs-3" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-3" class="tablet:grid-col-9 padding-4">
        <p>The Workforce Modernization Working Group leads include:</p> 
        <ul class="usa-list">
            <li>Steve Kunze, Working Group Chair & Deputy CFO at Department of Commerce </li>
            <li>Evan Farley, Working Group Co-Lead & Deputy CFO at General Services Administration</li>
            <li>Mike Wetklow, Working Group Co-Lead & Deputy CFO at National Science Foundation</li>
            <li>Ben Ficks, Working Group Co-Lead & Deputy CFO at Nuclear Regulatory Commission</li>
                
        </ul>
        <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
            <div class="tablet:grid-col-3 container">
            <div class="name pict-txt">
              <img src="{{ site.baseurl }}/assets/images/stephen-kunze.png" alt="Stephen Kunze">
              <div>Stephen Kunze</div>
            </div>
            </div>
            <div class="tablet:grid-col-3 container">   
            <div class="name pict-txt">
                <img src="{{ site.baseurl }}/assets/images/evan-farley.png" alt="Evan-Farley">
                <div>Evan-Farley</div>
              </div>
            </div>    
            <div class="tablet:grid-col-3 container"> 
              <div class="name pict-txt">
                <img src="{{ site.baseurl }}/assets/images/ben-ficks.png" alt="Ben Ficks">
                <div>Ben Ficks</div>
              </div>
            </div>  
            <div class="tablet:grid-col-3 container">   
              <div class="name pict-txt">
                <img src="{{ site.baseurl }}/assets/images/mike-wetklow.png" alt="Mike Wetklow">
                <div>Mike Wetklow</div>
              </div>
            </div>        
        </div>
    </div>
    <div id="tabs-4" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-4" class="tablet:grid-col-9 padding-4">
        <p>Are you interested in getting involved in the Workforce Modernization Initiative?</p> <p>Do you have expertise you can share? Contact <a href="mailto:CFOC.support@gsa.gov">CFOC.support@gsa.gov</a>.</p>
    </div>
   <div id="tabs-5" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-5" class="grid-col-9 padding-4">
        <p>Coming Soon!</p>
   </div>

</div>
