<div id="tabs" class="grid-row clearfix">
    <ul class="grid-col-3">
        <li><a href="#tabs-1" class="text-no-underline text-base-darker font-sans-md">The Latest</a></li>
        <li><a href="#tabs-2" class="text-no-underline text-base-darker font-sans-md">About Priority Area</a></li>
        <li><a href="#tabs-3" class="text-no-underline text-base-darker font-sans-md">Milestones</a></li>
        <li><a href="#tabs-4" class="text-no-underline text-base-darker font-sans-md">ESC Membership</a></li>
        <li><a href="#tabs-5" class="text-no-underline text-base-darker font-sans-md">Org Structure</a></li>

    </ul>
    <div id="tabs-1" class="grid-col-8 grid-offset-1">
        <h2>Content heading 1</h2>
        {% for item in site.erm limit:3 %}
        <p>{{ item.date | date: '%B %d, %Y' }} - {{ item.filler }}</p>
        {% endfor %}
    </div>
    <div id="tabs-2" class="grid-col-8 grid-offset-1">
        <h2>Content heading 2</h2>
        <p>Content 2</p>
    </div>
    <div id="tabs-3" class="grid-col-8 grid-offset-1">
        <h2>Content heading 3</h2>
        <p>Content 3</p>
    </div>
    <div id="tabs-4" class="grid-col-8 grid-offset-1">
        <h2>Content heading 4</h2>
        <p>Content 4</p>
    </div>
    <div id="tabs-5" class="grid-col-8 grid-offset-1">
        <h2>Content heading 5</h2>
        <p>Content 5</p>
    </div>

</div>

