<div id="tabs" class="grid-row clearfix">
    <ul class="tablet:grid-col-3 shadow-5">
        <li><a href="#tabs-1" role="tab" aria-controls="tabs-1" id="tab-btn-1" class="text-no-underline text-base-darker font-sans-md">About Fiscal Management Transformation</a></li>
        <li><a href="#tabs-2" role="tab" aria-controls="tabs-2" id="tab-btn-2" class="text-no-underline text-base-darker font-sans-md">Strategy</a></li>
        <li><a href="#tabs-3" role="tab" aria-controls="tabs-3" id="tab-btn-3" class="text-no-underline text-base-darker font-sans-md"><abbr title="Organization">Org</abbr> Structure</a></li>
        <li><a href="#tabs-4" role="tab" aria-controls="tabs-4" id="tab-btn-4" class="text-no-underline text-base-darker font-sans-md"><abbr title="Executive Steering Committee">ESC</abbr> Membership</a></li>
        <li><a href="#tabs-5" role="tab" aria-controls="tabs-5" id="tab-btn-5" class="text-no-underline text-base-darker font-sans-md">The Latest</a></li>
    </ul>
    <div id="tabs-1" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-1" class="tablet:grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        <h2>Goal Statement</h2>
        <ul class="usa-list">
            <li>Modernize the production of financial information to efficiently and effectively manage operations of the Federal Government and provide accountability to taxpayers.</li>
            <li>Provide opportunities for federal agencies to consolidate financial management requirements to develop and implement standardized solutions.</li>
            <li>Align with the government-wide human capital strategy to recruit, develop, empower, and retain the financial management workforce for the 21st Century.</li>
            <li>Engage with stakeholders to improve the value of reporting and auditing.
            </li>
        </ul>
        <h2>Challenges</h2>
        <ul class="usa-list">
            <li>Over time, agencies have implemented financial management processes that are incompatible, operating in silos, highly tailored to their specific needs, and unable to share or compare information.</li>
            <li>Financial management modernization efforts present unique human capital challenges encompassing a wide range of job classifications, technical skills, and geographic needs.</li>
            <li>Resistance to change held by financial management policy and oversight communities have resulted in capability gaps,  fragmentation, and duplication.</li>
            <li>Agencies are in various phases of the systems lifecycle, standards adoption, and implementation.</li>
        </ul>
        <h2>Opportunities</h2>
        <ul class="usa-list">
            <li>Leverage investments and lessons learned from the past to inform the path towards financial management modernization.</li>
            <li>Improve on existing resources, tools, and best practices to optimize financial management processes to drive better outcomes.</li>
            <li>Connect talented candidates to address critical financial management needs, build institutional knowledge, and ensure successful succession planning.</li>
        </ul>
    </div>
    <div id="tabs-2" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-2" class="tablet:grid-col-9 padding-4">
        <p>The Fiscal Management Transformation Priority Area strategic approach is featured below:</p>
        <img  alt=" The Fiscal Management Transformation Priority Area strategic approach features the following 5 strategies. These strategies build on one another. Strategy 1: Standardize Financial Management Business Processes and Data (FMSC) -- Enable agencies to collaborate and share information. Solve common problems. Apply new technologies. Drive cost savings and efficiencies.Strategy 2: Develop Shared IT Infrastructure and Solutions -- Designate and stand up QSMO. QSMO will coordinate and develop agency financial systems and transaction options.Strategy 3: Shape the Workforce -- Consolidate recruitment efforts and streamline the hiring process. Leverage technology to improve the financial management workforce. Develop tools for recruitment, retention, and staff development.Strategy 4: Improve Reporting & Audit Value -- Continuous iterative reporting and audit improvement.Strategy 5: Opportunities for Legislative Reform -- Legislative Barriers. Legislative Oversight Risk."
              src="{{ site.baseurl }}/assets/images/fmt_strategy.png">
        <a href="#strategy-popup" title="" class="image-link usa-button usa-button--secondary margin-top-5">Enlarge</a>
        <div id="strategy-popup" class="white-popup mfp-hide">
            <img  alt=" The Fiscal Management Transformation Priority Area strategic approach features the following 5 strategies. These strategies build on one another. Strategy 1: Standardize Financial Management Business Processes and Data (FMSC) -- Enable agencies to collaborate and share information. Solve common problems. Apply new technologies. Drive cost savings and efficiencies.Strategy 2: Develop Shared IT Infrastructure and Solutions -- Designate and stand up QSMO. QSMO will coordinate and develop agency financial systems and transaction options.Strategy 3: Shape the Workforce -- Consolidate recruitment efforts and streamline the hiring process. Leverage technology to improve the financial management workforce. Develop tools for recruitment, retention, and staff development.Strategy 4: Improve Reporting & Audit Value -- Continuous iterative reporting and audit improvement.Strategy 5: Opportunities for Legislative Reform -- Legislative Barriers. Legislative Oversight Risk."
                  src="{{ site.baseurl }}/assets/images/fmt_strategy.png">
        </div>
    </div>
    <div id="tabs-3" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-3" class="tablet:grid-col-9 padding-4">
        <p>Below is the Executive Steering Committee organizational structure for the Fiscal Management Transformation Priority Area:</p>
        <img  alt="Hierarchy Row 1 (from top): Executive Steering Committee (Lead: OMB, Treasury) Hierarchy Row 2: Standardize Business Process and Data -Innovation, Financial Management Oracle Working Group, SAP Working Groupm, Momentum Working Group  Develop Shared IT Infrastructure and Solutions FIBF Standards (FM)QSMO Shape the Workforce FM Workforce Strategic Plan Standard Federal 510 Announcement Pilot FM Learning and Development Platform Improve the Value of Reporting & AuditAudit Reporting & Efficiency Accounting Policy Legislative Reform Budget Reform & Transparency"
              src="{{ site.baseurl }}/assets/images/fmt_org_structure.png">
        <a href="#org-popup" title="" class="image-link usa-button usa-button--secondary margin-top-5">Enlarge</a>
        <div id="org-popup" class="white-popup mfp-hide">
            <img  alt="Hierarchy Row 1 (from top): Executive Steering Committee (Lead: OMB, Treasury) Hierarchy Row 2: Standardize Business Process and Data -Innovation, Financial Management Oracle Working Group, SAP Working Groupm, Momentum Working Group  Develop Shared IT Infrastructure and Solutions FIBF Standards (FM)QSMO Shape the Workforce FM Workforce Strategic Plan Standard Federal 510 Announcement Pilot FM Learning and Development Platform Improve the Value of Reporting & AuditAudit Reporting & Efficiency Accounting Policy Legislative Reform Budget Reform & Transparency"
                  src="{{ site.baseurl }}/assets/images/fmt_org_structure.png">
        </div>
    </div>
    <div id="tabs-4" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-4" class="tablet:grid-col-9 padding-4">
        <p>The Executive Steering Committee membership for the Fiscal Management Transformation Priority Area includes:
            <ul class="usa-list">
                <li>Office of Management & Budget</li>
                <li>Department of Treasury</li>
                <li>Department of Commerce</li>
                <li>National Science Foundation</li>
                <li>General Services Administration</li>
            </ul>
        </p>
    </div>
    <div id="tabs-5" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-5" class="tablet:grid-col-9 padding-4">

        {% assign sorted = (site.policies_guidance | where: 'has_date', 'yes' | where: 'type', 'fmt' | sort: 'date') | reverse %}
        {% for item in sorted limit:3 %}
        <div class="border-top border-gray-30 grid-container">
            <div class="grid-row grid-gap margin-top-2 margin-bottom-3">
                <div class="tablet:grid-col-2 text-center"><p class="pill radius-pill padding-top-1 padding-bottom-1 margin-top-0 margin-bottom-0">{{ item.date | date: "%m/%d/%Y" }}</p></div>
                <div class="tablet:grid-col-10">
                    <h3 class="margin-top-0">{{ item.title }}</h3>
                    <p>{{ item.filler | truncate:500 }}</p>
                    {% if item.permalink %}
                    <a class="text-no-underline text-bold" href="{{ site.baseurl }}{{ item.permalink }}">Read more</a>
                    {% elsif item.doc-link %}
                    <a class="text-no-underline text-bold" href="{{ item.doc-link }}">Read more</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="border-top border-gray-30 grid-container">
            <div class="grid-row grid-gap margin-top-2 margin-bottom-3">
                <div class="tablet:grid-col-2 text-center"><p class="pill radius-pill padding-top-1 padding-bottom-1 margin-top-0 margin-bottom-0">11/30/2018</p></div>
                <div class="tablet:grid-col-10">
                    <h3 class="margin-top-0">Introducing the Data Quality Playbook</h3>
                    <p>The Data Quality Playbook is designed to assist agencies with developing Data Quality Plans in support of DATA Act implementation</p>
                    
                    <a class="text-no-underline text-bold" href="{{ site.baseurl }}/policies-guidance/data-act/">Read more</a>
                    
                </div>
            </div>
        </div>
        
    </div>

</div>

