<div id="tabs" class="grid-row clearfix">
    <ul class="tablet:grid-col-3 shadow-5">
        <li><a href="#tabs-1" role="tab" aria-controls="tabs-1" id="tab-btn-1" class="text-no-underline text-base-darker font-sans-md">About Financial Assistance</a></li>
        <li><a href="#tabs-2" role="tab" aria-controls="tabs-2" id="tab-btn-2" class="text-no-underline text-base-darker font-sans-md">Vision</a></li>
        <li><a href="#tabs-4" role="tab" aria-controls="tabs-4" id="tab-btn-4" class="text-no-underline text-base-darker font-sans-md"><abbr title="Executive Steering Committee">ESC</abbr> Membership</a></li>
        <li><a href="#tabs-5" role="tab" aria-controls="tabs-5" id="tab-btn-5" class="text-no-underline text-base-darker font-sans-md">The Latest</a></li>

    </ul>
    <div id="tabs-1" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-1" class="tablet:grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        <p>
            Federal assistance supports activities that touch every American, including medical research, transportation infrastructure, student aid, public housing, and disaster assistance. The Federal government spends nearly $800 billion in grants annually, accounting for nearly 20 percent of the Federal Budget and approximately 1,800 grant programs. The Federal government also provides other forms of financial assistance such as: loans, loan guarantees, interest subsidies, technical assistance, and insurance. These other forms of financial assistance account for approximately 500 additional assistance programs. In FY 2020, the Federal government issued more than $3 trillion in financial assistance with the passage of the CARES Act and other supplemental appropriations in response to the pandemic.
        </p>
        <p>Federal financial assistance supports the public good and helps Federal agencies execute their programmatic missions. OMB estimates that there are nearly 40,000 Federal financial assistance recipients who expend over $500,000 annually in assistance dollars. This does not include the many thousands who expend less than this amount. For states and universities, Federal financial assistance accounts for approximately a quarter and third of their budgets respectively. Other recipient types include non-profit organizations, tribes, local governments, and small businesses. </p>
    </div>
    <div id="tabs-2" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-2" class="tablet:grid-col-9 padding-4">

        <p>The Grants Executive Steering Committee under the CFOC is pursuing work to accomplish the goal of maximizing the value of grant funding by applying a risk-based, data-driven framework that balances compliance requirements with demonstrating successful results for the American taxpayer. To support this goal, the ESC has developed four strategies as outlined on the Initiatives page to achieve the 2030 vision and outcomes articulated below:</p>
            <img  alt="2030 vision image: This image describes five elements that lead to the 2030 vision of grants management, which is to maximize the value of grants. The five elements included are: 1) Efficient mission support delivery, 2) Competency-based skilled grants workforce, 3) More time achieving results, 4) Less time on compliance, and 5) Results that are understandable and transparent."
              src="{{ site.baseurl }}/assets/images/2030-Vision.png" class="width-mobile-lg"><br clear="all" />
            <a href="#strategy-popup" title="" class="image-link usa-button usa-button--secondary margin-top-5 clearfix">Enlarge</a>
        <div id="strategy-popup" class="white-popup mfp-hide text-center">
            <img  alt="2030-Vision"
                  src="{{ site.baseurl }}/assets/images/2030-Vision.png">
        </div>
    </div>



    <div id="tabs-4" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-4" class="tablet:grid-col-9 padding-4">
        <p>The CFO Council Grants Executive Steering Committee membership includes:

        <ul class="usa-list">
            <li>Office of Management and Budget</li>
            <li>Department of Health and Human Services</li>
            <li>National Science Foundation</li>
            <li>Department of Justice</li>
            <li>Department of Labor</li>
            <li>Federal Assistance Committee for E-Government Co-Chairs</li>
        </ul>
        </p>

    </div>

    <div id="tabs-5" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-5" class="tablet:grid-col-9 padding-4">
        {% assign sorted = (site.policies_guidance | where: 'has_date', 'yes' | where: 'type', 'financial-assistance' | sort: 'date') | reverse %}
        {% for item in sorted limit:4 %}
        <div class="border-top border-gray-30 grid-container">
            <div class="grid-row grid-gap margin-top-2 margin-bottom-3">
                <div class="tablet:grid-col-2 text-center"><p class="pill radius-pill padding-top-1 padding-bottom-1 margin-top-0 margin-bottom-0">{{ item.date | date: "%m/%d/%Y" }}</p></div>
                <div class="tablet:grid-col-10  font-sans-sm">
                    <h3 class="margin-top-0">{{ item.title }}</h3>
                    <p>{{ item.filler | truncate:500 }}</p>
                    {% if item.permalink %}
                    <a class="text-no-underline text-bold" href="{{ site.baseurl }}{{ item.permalink }}">Read More</a>
                    {% elsif item.doc-link %}
                    <a class="text-no-underline text-bold" href="{{ item.doc-link }}">Read More</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
