<div id="tabs" class="grid-row clearfix">
    <ul class="tablet:grid-col-3 shadow-5">
        <li><a href="#tabs-1" role="tab" aria-controls="tabs-1" id="tab-btn-1" class="text-no-underline text-base-darker font-sans-md">About the Workforce Modernization Initiative</a></li>
        <li><a href="#tabs-2" role="tab" aria-controls="tabs-2" id="tab-btn-2" class="text-no-underline text-base-darker font-sans-md">Primary Initiatives</a></li>
        <li><a href="#tabs-3" role="tab" aria-controls="tabs-3" id="tab-btn-3" class="text-no-underline text-base-darker font-sans-md">Membership</a></li>
        <li><a href="#tabs-4" role="tab" aria-controls="tabs-4" id="tab-btn-4" class="text-no-underline text-base-darker font-sans-md">How Feds Can Get Involved </a></li>
        <li><a href="#tabs-5" role="tab" aria-controls="tabs-4" id="tab-btn-5" class="text-no-underline text-base-darker font-sans-md">In the News</a></li>

    </ul>

    <div id="tabs-1" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-1" class="tablet:grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        <p>Emerging technology is causing tremendous change within the federal workforce &ndash; making many current positions obsolete and creating new roles and processes. The roles created require new skills that are increasingly complex. To succeed, federal employees will need access to continuous learning tools and dynamic training content in a variety of modalities.</p>
        <p>The CFO Workforce Modernization Working Group (Working Group), established in 2019, is tasked with managing the federal financial workforce modernization needs. It is currently in the process of significantly scaling up resources and membership in order to implement the Workforce Modernization Strategy and Career Planning and Training Initiative. The Working Group closely coordinates with the Office of Management and Budget, Office of Personnel Management, and the other Executive Councils.&nbsp;</p>
        <p>Each year the Working Group takes on a number of key initiatives.</p>


    </div>
    <div id="tabs-2" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-2" class="tablet:grid-col-9 padding-4">
        <p>The Financial Data Transformation Priority Area strategic approach is featured below:</p>
        <img  alt="fdt strategy image" src="{{ site.baseurl }}/assets/images/fdt_strategy.png">
        <a href="#strategy-popup" title="" class="image-link usa-button usa-button--secondary margin-top-5">Enlarge</a>
        <div id="strategy-popup" class="white-popup mfp-hide">
            <img  alt="fdt strategy image" src="{{ site.baseurl }}/assets/images/fdt_strategy.png">
        </div>
    </div>
    <div id="tabs-3" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-3" class="tablet:grid-col-9 padding-4">
        The Executive Steering Committee membership for the Financial Data Transformation Priority Area includes:
        <ul class="usa-list">
            <li>Office of Management & Budget</li>
            <li>Department of Treasury</li>
            <li>Department of Defense</li>
            <li>Department of Transportation</li>
            <li>Department of Health and Human Services</li>
            <li>Department of Energy</li>
            <li>Social Security Administration</li>
            <li>Nuclear Regulatory Commission</li>
        </ul>
    </div>
    <div id="tabs-4" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-4" class="tablet:grid-col-9 padding-4">
        <p>Are you interested in getting involved in the Workforce Modernization Initiative? Do you have expertise you can share? Contact <a href="mailto:CFOC.support@gsa.gov">CFOC.support@gsa.gov</a>.</p>
    </div>
   <div id="tabs-5" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-5" class="grid-col-9 padding-4">
        <p>Coming Soon!</p>
   </div>

</div>
