<div id="tabs" class="grid-row clearfix">
    <ul class="grid-col-3 shadow-5">
        <li><a href="#tabs-1" class="text-no-underline text-base-darker font-sans-md">The Latest</a></li>
        <li><a href="#tabs-2" class="text-no-underline text-base-darker font-sans-md">About Financial Assistance</a></li>
        <li><a href="#tabs-3" class="text-no-underline text-base-darker font-sans-md">Strategy</a></li>
        <li><a href="#tabs-4" class="text-no-underline text-base-darker font-sans-md">ESC Membership</a></li>
        <li><a href="#tabs-5" class="text-no-underline text-base-darker font-sans-md">Org Structure</a></li>

    </ul>
    <div id="tabs-1" class="grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        {% assign sorted = (site.grants | where: 'has_date', 'yes' | sort: 'date') | reverse %}
        {% for item in sorted limit:3 %}
        <div class="border-top border-gray-30">
            <div class="grid-row grid-gap margin-top-2 margin-bottom-3">
                <div class="grid-col-2 text-center"><p class="pill radius-pill padding-top-1 padding-bottom-1 margin-top-0 margin-bottom-0">{{ item.date | date: "%m/%d/%Y" }}</p></div>
                <div class="grid-col font-sans-sm">
                    <h3 class="margin-top-0">{{ item.title }}</h3>
                    <p>{{ item.filler | truncate:500 }}</p>
                    {% if item.permalink %}
                        <a title="policy or priority title" class="text-no-underline text-bold" href="{{ site.baseurl }}{{ item.permalink }}">Read more</a>
                    {% elsif item.doc-link %}
                        <a title="policy or priority title" class="text-no-underline text-bold" href="{{ item.doc-link }}">Read more</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="tabs-2" class="grid-col-9 padding-4">
        <p>
        <h2>Goal Statement</h2>
            Maximize the value of grant funding by applying a risk-based, data-driven framework that balances compliance requirements with demonstrating successful
        results for the American taxpayer.

        <h2>Challenges</h2>
            The Federal government uses grants to invest approximately $700 billion each year in mission-critical needs for American taxpayers, but managers
        report spending 40% of their time using antiquated processes to monitor compliance instead of analyzing data to improve results.

           <h2>Opportunity</h2>
        Standardize the grants management business process and identify, open, standardize, and link data. Use standard business processes and data to
        establish a robust marketplace of modern solutions that ease burden and drive efficiencies, respond to customer needs, and deliver on mission.
        Leverage data, including data produced by annual audits, to assess and manage recipient risk. Hold recipients accountable for good performance
        practices that support achievement of program goals and objectives and streamline burdensome compliance requirements for those that demonstrate results.
        </p>
    </div>
    <div id="tabs-3" class="grid-col-9 padding-4 font-s">
        <p>The Financial Assistance Priority Area strategic approach is featured below:</p>
        <img  alt="Grants strategy image" src="{{ site.baseurl }}/assets/images/image123.png">
    </div>
    <div id="tabs-4" class="grid-col-9 padding-4">
        <p>The Executive Steering Committee membership for the Financial Assistance Priority Area includes:

            <ul>
                <li>Office of Management and Budget</li>
                <li>Department of Health and Human Services</li>
                <li>National Science Foundation</li>
                <li>Department of Justice</li>
                <li>Department of Labor</li>
                <li>Federal Assistance Committee for E-Government Co-Chairs</li>
            </ul>
        </p>
    </div>
    <div id="tabs-5" class="grid-col-9 padding-4">
        <p>Below is the Executive Steering Committee organizational structure for the Financial Assistance Priority Area:</p>
        <img  alt="Grants org structure image" src="{{ site.baseurl }}/assets/images/Grants_org_structure.png">
    </div>

</div>
