<!--Text for each priority area are referenced in the respective md file under prioritypages folder-->

<section class="usa-graphic_list usa-prose clearfix padding-bottom-4">
    <div class="grid-row clearfix grid-container priority-icons">
        <p class="font-sans-sm padding-top-1 margin-bottom-0">
           The CFO Council Symposium series serves as a whole-of-government forum for bringing together those interested in reducing fraud, and improving payment integrity, in government. It helps amplify the voices of senior leadership, key stakeholders, and those making effective strides in fraud prevention and detection. It has three main goals:
        </p>
        <div class="margin-bottom-2">
            <ol>
                <li>To sharpen the government's focus on reducing fraud,</li>
                <li>To increase awareness of effective tools and best practices, and</li>
                <li>To help foster collaboration and dialogue between the financial management and oversight communities</li>
            </ol>
        </div>
    </div>
</section>