<div id="tabs" class="grid-row clearfix">
    <ul class="tablet:grid-col-3 shadow-5">
        <li><a href="#tabs-1" role="tab" aria-controls="tabs-1" id="tab-btn-1" class="text-no-underline text-base-darker font-sans-md">Purpose</a></li>
        <li><a href="#tabs-2" role="tab" aria-controls="tabs-2" id="tab-btn-2" class="text-no-underline text-base-darker font-sans-md">Goals</a></li>
        <li><a href="#tabs-3" role="tab" aria-controls="tabs-3" id="tab-btn-3" class="text-no-underline text-base-darker font-sans-md">Why This Matters to the CFO Council</a></li>
        <li><a href="{{site.baseurl}}/resources/#focus_area=.financial-management-workforce&sub_focus_area=*&type=*&source=*&fiscal_year=*" onclick="window.location.href=this.href;return false;" aria-label="financial management workforce related resources" class="text-no-underline text-base-darker font-sans-md">Resources</a></li>
    </ul>

    <div id="tabs-1" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-1" class="tablet:grid-col-9 ui-tabs-panel ui-corner-bottom ui-widget-content padding-4">
        <p>We champion, implement and support strategically selected initiatives that greatly benefit upskilling, hiring, retention, and future leader development of the Federal financial management workforce.</p>
    </div>
    <div id="tabs-2" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-2" class="tablet:grid-col-9 padding-4">
        <p>Working with the Office of Management and Budget, Office of Personnel Management, and other Executive Councils, the CFO Workforce Modernization Executive Steering Committee has launched a 10-year initiative focusing on seven key areas in order to help the 140k members of the Federal financial workplace thrive in their current jobs and advance up the leadership ladder. The Workforce Modernization Strategy (link to Resource) focuses on seven important areas to be addressed in a phased approach over the next 10 years. These key areas are:</p>
        <ul>
            <li>Leveraging Data as Strategic Asset</li>
            <li>Supporting the Current Workforce</li>
            <li>Recruiting the Future Workforce</li>
            <li>Adapting to Technology</li>
            <li>Planning for Succession</li>
            <li>Facilitating Culture Change</li>
            <li>Building Lasting Partnerships</li>
        </ul>
    </div>
    <div id="tabs-3" tabindex="0" role="tabpanel" aria-labelledby="tab-btn-3" class="tablet:grid-col-9 padding-4">
        <p>The CFO Council works collaboratively to improve financial management in the U.S. Government. Focusing on the needs of our workforce is one of the most significant ways that we can improve financial management across the government. Employees that are supported and empowered can enhance every aspect of our mission delivery.</p> 
    </div>
</div>
