<!--********Resources folder**************-->

<div class="usa-media-block tablet:grid-col-9">
    <p class="filter-count card-tag margin-top-0 text-gray-50 text-thin"></p>
    <div class="resources">
        {% for resource in site.resources %}
        {% assign className = resource.filters | split: ' ' | first %}
        <div class="tablet:grid-col-4  grid-spacing policy {{ resource.filters }}">
            {% if className %}
             <div class="border-top-05 {{className}}-border bg-white padding-2 shadow-5 height-full members-hover">
             {% else %}
             <div class="border-top-05 border-accent-warm bg-white padding-2 shadow-5 height-full members-hover">
             {% endif %}
             {% if resource.permalink %}
                <a class="no-style anchor-fill" href="{{ site.baseurl }}{{ resource.permalink }}">
             {% else %}
                <a class="no-style anchor-fill" href="{{ resource.doc-link }}">
             {% endif %}
                <div class="text-container height-card-lg">
                <strong><p>{{ resource.subtitle }}</p></strong>
                {% assign filters = resource.filters | split: ' ' %}
                {% for filter in filters %}
                {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                {% if has_link == 'No' %}
                <p class="title-resources">{{ filter | upcase }}</p>
                {% else %}
                {% assign hyphen_filter = filter | split: '-' %}
                <p class="title-resources">
                {% for second_filter in hyphen_filter %}
                {{ second_filter | upcase }}
                {% endfor %}
                </p>
                {% endif %}
                {% endfor %}
                </div>
                </a>
             </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>