<!--***********buttons for Resources page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

    <a class="usa-button usa-button--outline border-0 margin-bottom-2" href="{{ site.baseurl }}/resources/#focus_area=*&sub_focus_area=*&type=*&source=*&fiscal_year=*">Reset Filter</a>

    <nav id="filter" class="filters" aria-label="filter menu">
        <h3 class="filter-title">Filter by Focus Area</h3>
        <ul class="filter-list" data-filter-group="focus_area">
            <li><a aria-label="Filter by Type: Federal Financial Assistance" role="checkbox" href="javascript:void(0)" data-filter=".federal-financial-assistance">Federal Financial Assistance</a></li>
            <li><a aria-label="Filter by Type: Financial Management Workforce" role="checkbox" href="javascript:void(0)" data-filter=".financial-management-workforce">Financial Management Workforce</a></li>
            <li><a aria-label="Filter by Type: Financial Reporting" role="checkbox" href="javascript:void(0)" data-filter=".financial-reporting">Financial Reporting</a></li>
            <li><a aria-label="Filter by Type: Major Legislation" role="checkbox" href="javascript:void(0)" data-filter=".major-legislation">Major Legislation</a></li>
            <li><a aria-label="Filter by Type: Payment Integrity" role="checkbox" href="javascript:void(0)" data-filter=".payment-integrity">Payment Integrity</a></li>
            <li><a aria-label="Filter by Type: Real Property" role="checkbox" href="javascript:void(0)" data-filter=".real-property">Real Property</a></li>
            <li><a aria-label="Filter by Type: Risk Management" role="checkbox" href="javascript:void(0)" data-filter=".risk-management">Risk Management</a></li>
        </ul>

        <h3 class="filter-title">Filter by Sub-Focus Area</h3>
        <ul class="filter-list" data-filter-group="sub_focus_area">
            <li><a aria-label="Filter by Type: Uniform Guidance: 2 CFR 200" role="checkbox" href="javascript:void(0)" data-filter=".uniform-guidance-2-cfr-200">Uniform Guidance: 2 CFR 200</a></li>
        </ul>

        <h3 class="filter-title">Filter by Type</h3>
        <ul class="filter-list" data-filter-group="type">
            <li><a aria-label="Filter by type: Article" role="checkbox" href="javascript:void(0)" data-filter=".article">Article</a></li>
            <li><a aria-label="Filter by type: Controller Alert" role="checkbox" href="javascript:void(0)" data-filter=".controller-alert">Controller Alert</a></li>
            <li><a aria-label="Filter by type: Executive Order" role="checkbox" href="javascript:void(0)" data-filter=".executive-order">Executive Order</a></li>
            <li><a aria-label="Filter by type: Guidance" role="checkbox" href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
            <li><a aria-label="Filter by type: Legislation" role="checkbox" href="javascript:void(0)" data-filter=".legislation">Legislation</a></li>
            <li><a aria-label="Filter by type: Memorandum" role="checkbox" href="javascript:void(0)" data-filter=".memorandum">Memorandum</a></li>
            <li><a aria-label="Filter by type: Playbook" role="checkbox" href="javascript:void(0)" data-filter=".playbook">Playbook</a></li>
            <li><a aria-label="Filter by type: Presentation" role="checkbox" href="javascript:void(0)" data-filter=".presentation">Presentation</a></li>
            <li><a aria-label="Filter by type: Quick Reference" role="checkbox" href="javascript:void(0)" data-filter=".quick-reference">Quick Reference</a></li>
            <li><a aria-label="Filter by type: Report" role="checkbox" href="javascript:void(0)" data-filter=".report">Report</a></li>
            <li><a aria-label="Filter by type: Regulation" role="checkbox" href="javascript:void(0)" data-filter=".regulation">Regulation</a></li>
            <li><a aria-label="Filter by type: Training" role="checkbox" href="javascript:void(0)" data-filter=".training">Training</a></li>
            <li><a aria-label="Filter by type: Website" role="checkbox" href="javascript:void(0)" data-filter=".website">Website</a></li>
        </ul>

        <h3 class="filter-title">Filter by Source</h3>
        <ul class="filter-list" data-filter-group="source">
            <li><a aria-label="Filter by Type: Congress" role="checkbox" href="javascript:void(0)" data-filter=".congress">Congress</a></li>
            <li><a aria-label="Filter by Type: External" role="checkbox" href="javascript:void(0)" data-filter=".external">External</a></li>
            <li><a aria-label="Filter by Type: Federal Agency" role="checkbox" href="javascript:void(0)" data-filter=".federal-agency">Federal Agency</a></li>
            <li><a aria-label="Filter by Type: OMB" role="checkbox" href="javascript:void(0)" data-filter=".omb">OMB</a></li>
            <li><a aria-label="Filter by Type: White House" role="checkbox" href="javascript:void(0)" data-filter=".white-house">White House</a></li>
        </ul>


        <h3 class="filter-title">Filter by Fiscal Year</h3>
        <ul class="filter-list" data-filter-group="fiscal_year">
            <li><a aria-label="Filter by Type: 1991" role="checkbox" href="javascript:void(0)" data-filter=".1991">1991</a></li>
            <li><a aria-label="Filter by Type: 1992" role="checkbox" href="javascript:void(0)" data-filter=".1992">1992</a></li>
            <li><a aria-label="Filter by Type: 1993" role="checkbox" href="javascript:void(0)" data-filter=".1993">1993</a></li>
            <li><a aria-label="Filter by Type: 1994" role="checkbox" href="javascript:void(0)" data-filter=".1994">1994</a></li>
            <li><a aria-label="Filter by Type: 1995" role="checkbox" href="javascript:void(0)" data-filter=".1995">1995</a></li>
            <li><a aria-label="Filter by Type: 1996" role="checkbox" href="javascript:void(0)" data-filter=".1996">1996</a></li>
            <li><a aria-label="Filter by Type: 1997" role="checkbox" href="javascript:void(0)" data-filter=".1997">1997</a></li>
            <li><a aria-label="Filter by Type: 1998" role="checkbox" href="javascript:void(0)" data-filter=".1998">1998</a></li>
            <li><a aria-label="Filter by Type: 1999" role="checkbox" href="javascript:void(0)" data-filter=".1999">1999</a></li>
            <li><a aria-label="Filter by Type: 2000" role="checkbox" href="javascript:void(0)" data-filter=".2000">2000</a></li>
            <li><a aria-label="Filter by Type: 2001" role="checkbox" href="javascript:void(0)" data-filter=".2001">2001</a></li>
            <li><a aria-label="Filter by Type: 2002" role="checkbox" href="javascript:void(0)" data-filter=".2002">2002</a></li>
            <li><a aria-label="Filter by Type: 2003" role="checkbox" href="javascript:void(0)" data-filter=".2003">2003</a></li>
            <li><a aria-label="Filter by Type: 2004" role="checkbox" href="javascript:void(0)" data-filter=".2004">2004</a></li>
            <li><a aria-label="Filter by Type: 2005" role="checkbox" href="javascript:void(0)" data-filter=".2005">2005</a></li>
            <li><a aria-label="Filter by Type: 2006" role="checkbox" href="javascript:void(0)" data-filter=".2006">2006</a></li>
            <li><a aria-label="Filter by Type: 2007" role="checkbox" href="javascript:void(0)" data-filter=".2007">2007</a></li>
            <li><a aria-label="Filter by Type: 2008" role="checkbox" href="javascript:void(0)" data-filter=".2008">2008</a></li>
            <li><a aria-label="Filter by Type: 2009" role="checkbox" href="javascript:void(0)" data-filter=".2009">2009</a></li>
            <li><a aria-label="Filter by Type: 2010" role="checkbox" href="javascript:void(0)" data-filter=".2010">2010</a></li>
            <li><a aria-label="Filter by Type: 2011" role="checkbox" href="javascript:void(0)" data-filter=".2011">2011</a></li>
            <li><a aria-label="Filter by Type: 2012" role="checkbox" href="javascript:void(0)" data-filter=".2012">2012</a></li>
            <li><a aria-label="Filter by Type: 2013" role="checkbox" href="javascript:void(0)" data-filter=".2013">2013</a></li>
            <li><a aria-label="Filter by Type: 2014" role="checkbox" href="javascript:void(0)" data-filter=".2014">2014</a></li>
            <li><a aria-label="Filter by Type: 2015" role="checkbox" href="javascript:void(0)" data-filter=".2015">2015</a></li>
            <li><a aria-label="Filter by Type: 2016" role="checkbox" href="javascript:void(0)" data-filter=".2016">2016</a></li>
            <li><a aria-label="Filter by Type: 2017" role="checkbox" href="javascript:void(0)" data-filter=".2017">2017</a></li>
            <li><a aria-label="Filter by Type: 2018" role="checkbox" href="javascript:void(0)" data-filter=".2018">2018</a></li>
            <li><a aria-label="Filter by Type: 2019" role="checkbox" href="javascript:void(0)" data-filter=".2019">2019</a></li>
            <li><a aria-label="Filter by Type: 2020" role="checkbox" href="javascript:void(0)" data-filter=".2020">2020</a></li>
            <li><a aria-label="Filter by Type: 2021" role="checkbox" href="javascript:void(0)" data-filter=".2021">2021</a></li>
            <li><a aria-label="Filter by Type: 2022" role="checkbox" href="javascript:void(0)" data-filter=".2022">2022</a></li>
            <li><a aria-label="Filter by Type: 2023" role="checkbox" href="javascript:void(0)" data-filter=".2023">2023</a></li>
            <li><a aria-label="Filter by Type: 2024" role="checkbox" href="javascript:void(0)" data-filter=".2024">2024</a></li>
        </ul>

    </nav>
</div>
