<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.settings.js"></script>
<script src="{{ site.baseurl }}/assets/js/pdfkit.js"></script>
<script src="{{ site.baseurl }}/assets/js/blob-stream.js"></script>
{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

<script src="{{ site.baseurl }}/assets/js/uswds.min.js?{{ site.time | date: '%s%N' }}"></script>
<script src="{{ site.baseurl }}/assets/js/app.js?{{ site.time | date: '%s%N' }}"></script>
<script type="text/javascript">
    window.federalist = {
      path: {
        baseurl: '{{ site.baseurl }}'
      }
    };
</script>
{% if page.attached %}
{% for file in page.attached %}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ file }}.js"></script>
{% endfor %}
{% endif %}

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/slick.js?{{ site.time | date: '%s%N' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/magnific-popup.js?{{ site.time | date: '%s%N' }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.top').slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true,
            autoplay: true,
            autoplaySpeed: 6000,
            dots: true,
            arrows: false
        });
        jQuery('.image-link').magnificPopup({
            type: 'inline',
            midClick: true
        });

        if (/career\-planning\-tool/.test(window.location.href)) {
            jQuery('button[type="button"], button[type="submit"]').createButtonEvents();
        }
    });

</script>
<script src="{{ site.baseurl }}/assets/js/cfo-tabs.js?{{ site.time | date: '%s%N' }}"></script>
