<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>var $j = $.noConflict(true);</script>

<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.settings.js"></script>
<script src="{{ site.baseurl }}/assets/js/pdfkit.js"></script>
<script src="{{ site.baseurl }}/assets/js/blob-stream.js"></script>
{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

<script src="{{ site.baseurl }}/assets/js/uswds.min.js?{{ site.time | date: '%s%N' }}"></script>
<script src="{{ site.baseurl }}/assets/js/app.js?{{ site.time | date: '%s%N' }}"></script>
<script type="text/javascript">
    window.federalist = {
      path: {
        baseurl: '{{ site.baseurl }}'
      }
    };
</script>
{% if page.attached %}
{% for file in page.attached %}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ file }}.js"></script>
{% endfor %}
{% endif %}

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/slick.js?{{ site.time | date: '%s%N' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/magnific-popup.js?{{ site.time | date: '%s%N' }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.top').slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true,
            autoplay: true,
            autoplaySpeed: 6000,
            dots: true,
            arrows: false
        });
        jQuery('.image-link').magnificPopup({
            type: 'inline',
            midClick: true
        });

        if (/career\-planning\-tool/.test(window.location.href)) {
            jQuery('button[type="button"], button[type="submit"]').createButtonEvents();
        }
        if (/training\-resources/.test(window.location.href)) {
            jQuery('button[type="button"], button[type="submit"]').createButtonEvents();
        }
    });

</script>
<script src="{{ site.baseurl }}/assets/js/cfo-tabs.js?{{ site.time | date: '%s%N' }}"></script>
{% if page.url == '/training-resources/' %}
<script type="text/javascript" src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/dataTables.fixedColumns.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/fixedColumns.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/2.0.2/js/dataTables.select.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>

{% assign jsonData = site.data.coursesJ %}
<!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/facets/facets-filters/training-filters.js"></script> -->
<script>
$(document).ready(function() {
  console.log($().jquery); // This prints v1.4.2
   console.log($j().jquery)
    // Initialize DataTable
    var table = $('#myTable').DataTable({
        "columnDefs": [
            {
                "orderable": false,
                "render": DataTable.render.select(),
                "targets": 10
            },
            {
              "orderable": false,
              'className': 'dt-control',
              'data': null,
              'defaultContent': '',
              "targets": 0
            },
            {
                "targets": 6,
                "render": function (data, type, row, meta) {
                    return '$' + data.toLocaleString('en-US', { minimumFractionDigits: 2 });
                }
            },
            { "visible": false, "targets": [7,8,9]}
        ],
        "createdRow": (row, data, index) => {
            row.querySelector(':nth-child(7)').setAttribute("data-filter", data[6]);
        },
        // "searching": false,
        "paging":   false,
        "ordering": false,
        "info":     false,
        "ordering": false // Disable sorting for all columns
    });

    var data = {{ jsonData | jsonify }};
   
    // Populate the table
    data.forEach(function(item) {
      var row = [];
      var accordionContent = '';
      row.push('accordion');

      for (var key in item) {
          if (key === 'course_title') {
              row.push('<a href="' + item['link'] + '" target="_blank" rel="noopener noreferrer">' + item[key] + '</a>');
          } else {
              row.push(item[key]);
          }
      }

      table.row.add(row);
    });

    // Draw the table
    table.draw();

    // Object to store active filters for each column
    var activeFilters = {};
    var min = 0;
    var max = 0;

    // Apply toggle functionality to filter buttons
    $('.filterBtn').on('click', function () {
        var $btn = $(this);
        var columnIndex =  $btn.data('column-num');
        var filterValue = $btn.data('filter');
        min = $btn.data('min');
        max = $btn.data('max');

        if (!activeFilters[columnIndex]) {
            activeFilters[columnIndex] = new Set();
        }

        // Toggle active class
        if ($btn.hasClass('active')) {
            $btn.removeClass('active');
            if (columnIndex == 6) {
              console.log("add:", activeFilters);
              activeFilters[columnIndex].delete(min);
            } else {
              activeFilters[columnIndex].delete(filterValue);
            }
        } else {
            $btn.addClass('active');
            if (columnIndex == 6) {
              console.log("add:", activeFilters);
              activeFilters[columnIndex].add(min);
            } else {
              activeFilters[columnIndex].add(filterValue);
            }
        }

        if (activeFilters[columnIndex].has('all')) {
            activeFilters[columnIndex].clear();
            activeFilters[columnIndex].add('all');
        }

        // Apply the filters
        table.draw();
        window.history.replaceState({}, "", "/training-resources/");
    });

    function format(d) {
        return (
            '<div class="grid-container">' +
              '<div class="grid-row">' +
                  '<div class="tablet:grid-col">' +
                  '<dl>' +
                  '<dt>Course Description</dt>' +
                  "<p>" + d[13] + "</p>" +
                  '</dl>' +
                  '</div>' +
                  '<div class="tablet:grid-col">' +
                  '<dl>' +
                  '<dt>Additional Course Information</dt>' +
                  "<p>" + d[14] + "</p>" +
                  '</dl>' +
                  '</div>' +
              '</div>' +
            '</div>'
            //
            // '<dl>' +
            // '<dt>Course Description</dt>' +
            // "<dd>" + d[13] + "</dd>" +
            // // "<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</dd>" +
            // '<dt>Additional Course Information</dt>' +
            // "<dd>" + d[14] + "</dd>" +
            // // '<dd>Knowledge of decision support theories, methods, and tools for identifying, synthesizing, representing, and evaluating the important aspects of a decision situation and prescribing the recommended course for decision makers and other stakeholders</dd>' +
            // '</dl>'
        );
    }

    table.on('click', 'td.dt-control', function (e) {
        let tr = e.target.closest('tr');
        let row = table.row(tr);

        if (row.child.isShown()) {
            row.child.hide();
        }
        else {
            row.child(format(row.data())).show();
        }
    });


    // Custom filtering function
    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {
            // Handle specific column filters
            for (var columnIndex in activeFilters) {
                var filterValues = Array.from(activeFilters[columnIndex]);
                console.log('Filter Values for column', columnIndex, ':', filterValues);
                if (filterValues.length > 0 && !filterValues.includes('all')) {
                  var columnData = data[columnIndex];
                  if (columnIndex == 6) {
                    columnData = parseFloat(columnData.replace(/\$|,/g, ''));
                    var otR = columnData >= min && columnData < max;
                    if (!otR) {
                      return false;
                    }
                  } else {
                    if (!filterValues.includes(columnData)) {
                        return false;
                    }
                  }
                }
            }
            return true;
        }
    );

     $('#career-advancement-search-input-training-resources').autocomplete({
      source: function (request, response) {
        let normalized = request.term.toLowerCase();
        let n = normalized.length + 40;
        console.log('item ', data[0]);
        let outputs = data.map(function (item) {
          let value = item.course_title;
          // Search by title
          if (value.toLowerCase().indexOf(normalized) != -1) {
            return stripHtmlTags(value);
          }
          else if (item.institution.toLowerCase().indexOf(normalized) != -1) {
            return stripHtmlTags(item.institution);
          }
          // Search by Proficiency Level Definition
          else if (item.course_duration.toLowerCase().indexOf(normalized) != -1) {
            return stripHtmlTags(item.course_duration);
          }
          // Search by Behavioral Illustrations
          else if (item.learning_modality.toLowerCase().indexOf(normalized) != -1) {
            return stripHtmlTags(item.learning_modality);
          }
          else if (item.course_type.toLowerCase().indexOf(normalized) != -1) {
            return stripHtmlTags(item.course_type);
          }
          else if (item.price.toString().indexOf(normalized) != -1) {
            return stripHtmlTags(item.price);
          }
          return null;
        });
        outputs = outputs.filter(function (x) { return !!x }).filter((item, index, self) => self.indexOf(item) === index);
        outputs = outputs.map(str => {
          str = str.substring(str.toLowerCase().indexOf(normalized))
              .split("?")[0]
              .split("|")[0];
          str = str.replace(/[,\s]+$/g, '').trim();
          return str.length > n ? str.substring(0, n) + "..." : str;
        });
        // Filter by unique value.
        outputs = [...new Set(outputs)];
        response(outputs);
      },
      select: function (event, ui) {
        console.log('here');
        let $elem = $(event.target);
        console.log('elem ', $elem);
        $elem.val(ui.item.value);
        $('#cfo-search-button-tr').click();
        },
      change: function (event, ui) {
      }
    });

    function stripHtmlTags(str) {
    if (!str || typeof str !== "string") return str;
    return str.replace(/<[^>]*>/g, "|").replace(/&#58;/g, "");
  }

  $('#cfo-search-button-tr').on('click', function () {
    console.log('here!');
    let searchKeyword = $("#career-advancement-search-input-training-resources").val().trim();
    console.log('searchKeyword', searchKeyword);
    searchKeyword.split('...');
    table.search(searchKeyword[0]).draw();
  })
                     

    // function getSearch () {
    //     // console.log(facetGlobalVars);
    //     var results = [];
    //     let searchKeyword = $("#career-advancement-search-input-training-resources").val().trim();
    //     var searchKeys = ["course_title", "institution", "course_duration", "learning_modality", "course_type", "price"]
        
    //     // create a count of the the items displayed and display it.
    //     // count all search results for an item as a sanity check and make a spread sheet.
    //             let newResults = [];
    //                 // create a results array for the next search criteria
    //                 data.forEach(item => { 
    //                     searchKeys.forEach(term => {
    //                         facetGlobalVars.data.forEach(obj => { // go over the search and facets selected
    //                               let stringToMatch = Array.isArray(item[term]) ? item[term].join(' ') : item[term];
    //                               if (stringToMatch !== null) {
    //                                   stringToMatch = stringToMatch.replace(/[^a-zA-Z0-9\s]/g, "").toLowerCase();
    //                                   if (stringToMatch.match(searchKeyword.toLowerCase().replace(/[^a-zA-Z0-9\s]/g, ""))) {
    //                                       if (!ifExistsResults(item.permalink, newResults)) {
    //                                           newResults.push(item);
    //                                       }
    //                                   }
    //                               }
                              
    //                         });
    //                     });
    //                 });
    //             // look for new filters in prior results set and if they are there
    //             // save the prior results in to a different array.
    //             let finishResults = [];
    //             if (results.length > 0) {
    //                 results.forEach(item => {
    //                     newResults.forEach(newItem => {
    //                         if (item.permalink.toLowerCase() === newItem.permalink.toLowerCase()) {
    //                             if (!ifExistsResults(item.permalink, finishResults)) {
    //                                 finishResults.push(item);
    //                             }
    //                         }
    //                     });
    //                 });
    //             } else {
    //                 finishResults = newResults;
    //             }

    //             // populate results with finishResults
    //             results = [];
    //             finishResults.forEach(item => {
    //                 if (!ifExistsResults(item.title, results)) {
    //                     results.push(item);
    //                 }
    //             });
    //         enableDisableCompetencies(false);
    //         $("#career-search-results").empty();

    //     // if (facetGlobalVars.results.length === 0 && facetGlobalVars.data.length === 0) {
    //     //     facetGlobalVars.results = facetGlobalVars.fullSet;
    //     //     $('#career-facet-remove-all-filters-button').hide();
    //     //     createClearButton();
    //     // }
    // }

    function onHashChange() {

        var indexMap = {};
    
        indexMap["level"] = "8";
        indexMap["series"] = "7";

        // Current hash value
        var hashFilter = getHashFilter();
        // Concatenate priority_area and type for Isotope filtering
        // + hashFilter["status"];

        if (hashFilter) {
            // Repaint Isotope container with current filters and sorts
            for (var key in hashFilter) {
            var columnIndex = indexMap[key];
            activeFilters[columnIndex] = new Set();
            activeFilters[columnIndex].add(hashFilter[key]);
            // Toggle checked status of sort button
            // Toggle checked status of filter buttons
            $(".tr-filter-list").find("[data-filter='" + hashFilter["series"] + "'],[data-filter='" + hashFilter["level"] + "']").addClass("active").attr("aria-checked", "true");
            }
            table.draw();
        }
    } // onHahschange

    function getHashFilter() {
        var series = location.hash.match(/series=([^&]+)/i);
        var levelRaw = location.hash.match(/level=([^&]+)/i);
        var competencyRaw = location.hash.match(/competency=([^&]+)/i);

        var level = levelRaw[1].replace('%20', ' ');
        seriesMap = {};
        seriesMap["0501"] = "0501 Financial Administration and Program Support";
        seriesMap["0560"] = "0560 Budget Analysis";
        seriesMap["0511"] = "0511 Auditing";
        seriesMap["0510"] = "0510 Accounting";

        // Set up a hashFilter array
        var hashFilter = {};
        // Populate array with matches and sorts using ternary logic
        hashFilter["series"] = series ? seriesMap[series[1]] : "*";
        hashFilter["level"] = level? level : "*";
        //hashFilter["competency"] = competency ? competency[1] : "*";


        return hashFilter;
    } // getHashFilter

    // When the hash changes, run onHashchange

    // When the page loads for the first time, run onHashChange
    onHashChange();


});
</script>
{% endif %}
