<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/isotope.settings.js"></script>
<script src="{{ site.baseurl }}/assets/js/pdfkit.js"></script>
<script src="{{ site.baseurl }}/assets/js/blob-stream.js"></script>
{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

<script src="{{ site.baseurl }}/assets/js/uswds.min.js?{{ site.time | date: '%s%N' }}"></script>
<script src="{{ site.baseurl }}/assets/js/app.js?{{ site.time | date: '%s%N' }}"></script>
<script type="text/javascript">
    window.federalist = {
      path: {
        baseurl: '{{ site.baseurl }}'
      }
    };
</script>
{% if page.attached %}
{% for file in page.attached %}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ file }}.js"></script>
{% endfor %}
{% endif %}

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/slick.js?{{ site.time | date: '%s%N' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/magnific-popup.js?{{ site.time | date: '%s%N' }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.top').slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true,
            autoplay: true,
            autoplaySpeed: 6000,
            dots: true,
            arrows: false
        });
        jQuery('.image-link').magnificPopup({
            type: 'inline',
            midClick: true
        });

        if (/career\-planning\-tool/.test(window.location.href)) {
            jQuery('button[type="button"], button[type="submit"]').createButtonEvents();
        }
        if (/training\-resources/.test(window.location.href)) {
            jQuery('button[type="button"], button[type="submit"]').createButtonEvents();
        }
    });

</script>
<script src="{{ site.baseurl }}/assets/js/cfo-tabs.js?{{ site.time | date: '%s%N' }}"></script>
{% if page.url == '/training-resources/' %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/dataTables.fixedColumns.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/fixedColumns.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/2.0.2/js/dataTables.select.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>

{% assign jsonData = site.data.coursesJ %}
<!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/facets/facets-filters/training-filters.js"></script> -->
<script>
$(document).ready(function() {
    // Initialize DataTable
    var priceColumn = 6;
    var table = $('#myTable').DataTable({
        "columnDefs": [
            {
                "orderable": false,
                "render": DataTable.render.select(),
                "targets": 10
            },
            {
              "orderable": false,
              'className': 'dt-control',
              'data': null,
              'defaultContent': '',
              "targets": 0
            },
            {
                "targets": priceColumn,
                "render": function (data, type, row, meta) {
                    return '$' + data.toLocaleString('en-US', { minimumFractionDigits: 2 });
                }
            },
            { "visible": false, "targets": [7,8,9]}
        ],
        "createdRow": (row, data, index) => {
            row.querySelector(':nth-child(7)').setAttribute("data-filter", data[priceColumn]);
        },
        // "searching": false,
        "paging":   false,
        "info":     false,
        "ordering": false // Disable sorting for all columns
    });

    var data = {{ jsonData | jsonify }};

    // Populate the table
    data.forEach(function(item) {
      var row = [];
      var accordionContent = '';
      row.push('accordion');

      for (var key in item) {
          if (key === 'course_title') {
              row.push('<a href="' + item['link'] + '" target="_blank" rel="noopener noreferrer">' + item[key] + '</a>');
          } else {
              row.push(item[key]);
          }
      }

      table.row.add(row);
    });

    // Draw the table
    table.draw();

    // Object to store active filters for each column
    var activeFilters = {};
    var minBtn = 0;
    var maxBtn = 0;

    // Apply toggle functionality to filter buttons
    $('.filterBtn').on('click', function () {
        var $btn = $(this);
        var columnIndex =  $btn.data('column-num');
        var filterValue = $btn.data('filter');
        minBtn = $btn.data('min');
        maxBtn = $btn.data('max');

        if (!activeFilters[columnIndex]) {
            activeFilters[columnIndex] = new Set();
        }

        // Toggle active class
        if ($btn.hasClass('active')) {
            $btn.removeClass('active');
            if (columnIndex == priceColumn) {
              activeFilters[columnIndex].delete(minBtn);
            } else {
              activeFilters[columnIndex].delete(filterValue);
            }
        } else {
            $btn.addClass('active');
            if (columnIndex == priceColumn) {
              activeFilters[columnIndex].add(minBtn);
            } else {
              activeFilters[columnIndex].add(filterValue);
            }
        }

        if (activeFilters[columnIndex].has('all')) {
            activeFilters[columnIndex].clear();
            activeFilters[columnIndex].add('all');
        }

        // Apply the filters
        table.draw();
    });

    function format(d) {
        return (
            '<div class="grid-container">' +
              '<div class="grid-row">' +
                  '<div class="tablet:grid-col">' +
                  '<dl>' +
                  '<dt>Course Description</dt>' +
                  "<p>" + d[13] + "</p>" +
                  '</dl>' +
                  '</div>' +
                  '<div class="tablet:grid-col">' +
                  '<dl>' +
                  '<dt>Additional Course Information</dt>' +
                  "<p>" + d[14] + "</p>" +
                  '</dl>' +
                  '</div>' +
              '</div>' +
            '</div>'
        );
    }

    table.on('click', 'td.dt-control', function (e) {
        let tr = e.target.closest('tr');
        let row = table.row(tr);

        if (row.child.isShown()) {
            row.child.hide();
        }
        else {
            row.child(format(row.data())).show();
        }
    });


    // Custom filtering function
    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {
            // Handle specific column filters
            for (var columnIndex in activeFilters) {
                var filterValues = Array.from(activeFilters[columnIndex]);
                if (filterValues.length > 0 && !filterValues.includes('all')) {
                  var columnData = data[columnIndex];
                  //price range filter
                  if (columnIndex == priceColumn) {
                    columnData = parseFloat(columnData.replace(/\$|,/g, ''));
                    const rangeMappings = {
                        0: [0, 500],
                        500: [500, 1000],
                        1000: [1000, 2000],
                        2000: [2000, 10000]
                    };
                    var isInRange = filterValues.some(filterValue => {
                      if (rangeMappings[filterValue]) {
                          let [min, max] = rangeMappings[filterValue];
                          return columnData >= min && columnData < max;
                      }
                      return filterValue === columnData;
                    });
                    if (!isInRange) {
                        return false;
                    }
                  //filtering for all other columns
                  } else {
                    if (!filterValues.includes(columnData)) {
                        return false;
                    }
                  }
                }
            }
            return true;
        }
    );


});
</script>
{% endif %}
