{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

<nav aria-label="Secondary navigation,">
    <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/jfmip/">About</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/jfmip/initiatives/ ">Initiatives</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/jfmip/events/">Events</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/jfmip/archive/">Archive</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/jfmip/jfmip-awards/">JFMIP Awards</a>
        </li>

    </ul>
</nav>
