<!--If a tile under knowledge sharing or policies page needs a section in it with a set of tiles, -->
<!--include this page and add a variable to the md files that need to be included and assign it the value 'yes'. Pass that variable -->
<!--to this page from the md file where the tiles are to be included, along with the text that you want to show up. -->


<div class="usa-media-block tablet:grid-col-12">
    <p class="card-tag margin-top-0 text-gray-50 text-thin"> {{ include.text }} </p>
    <div class="knowledge-sharing" >
        {% assign sorted = (site.policies_guidance | where: include.filter, 'yes') %}
        {% for grant in sorted %}
        {% assign filters = grant.filters | split: ' ' %}
        <div class="tablet:grid-col-4  grid-spacing policy {{ grant.filters }}">
            <div class="border-top-05 border-accent-warm bg-white padding-3 shadow-5 height-full members-hover ">
                <div class="text-container height-mobile">
                    {% if grant.permalink %}
                    <a class="no-style anchor-fill" href="{{ site.baseurl }}{{ grant.permalink }}">
                        {% else %}
                        <a class="no-style anchor-fill" href="{{ grant.doc-link }}">
                            {% endif %}
                            <div class="text-container height-mobile">
                                <p  class="usa-link" >
                                    {{ grant.subtitle }}
                                </p>
                                {% assign filters = grant.filters | split: ' ' %}
                                {% for filter in filters %}
                                {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                                {% if has_link == 'No' %}
                                <p class="title-resources">
                                    {{ filter | upcase }}
                                </p>
                                {% else %}
                                {% assign hyphen_filter = filter | split: '-' %}
                                <p class="title-resources">
                                    {% for second_filter in hyphen_filter %}
                                    {{ second_filter | upcase }}
                                    {% endfor %}
                                </p>
                                {% endif %}
                                {% endfor %}
                            </div></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
