  <div class="grid-row ">
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Financial Assistance</p>
            </div>
          </a>
      </div>
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
  </div>
  <div class="grid-row ">
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
      <div class="tablet:grid-col-3 padding-1">
          <a href="{{ site.baseurl }}" class="work-topics">
            <div>
                <div class="image-spacer"></div>
                <p class="work-topics-text">Topic</p>
            </div>
          </a>
      </div>
  </div>
