<div class="grid-container padding-0">{% include carousel_homepage_top.html height="30" unit="%" duration="3" %}</div>

<section class="usa-graphic_list usa-section usa-prose clearfix">

    <div class="clearfix grid-container priority-icons">
        <div class="grid-row"><h2 class="text-primary-darker">Priority Areas</h2></div>
     <div class="grid-row grid-gap">
        <div class="tablet:grid-col-2 text-center margin-y-6  grid-offset-1">
            <a href="{{site.baseurl}}/financial-assistance/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/financial-assistance.png" alt="Financial Assistance logo" />
                <p class="font-heading-md text-gray-70">Financial Assistance</p></a>
        </div>
        <div class="tablet:grid-col-2 text-center margin-y-6">
            <a href="{{site.baseurl}}/payment-integrity/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/PI.png" alt="Payment Integrity logo" />
                <p class="font-heading-md text-gray-70">Payment Integrity</p></a>
        </div>

        <div class="tablet:grid-col-2 text-center margin-y-6">
            <a href="{{site.baseurl}}/erm/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/erm.png" alt="ERM logo" />
                <p class="font-heading-md text-gray-70">Enterprise Risk Management</p></a>
        </div>

        <div class="tablet:grid-col-2 text-center margin-y-6">
            <a href="{{site.baseurl}}/fdt/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/financial-data-transformation.png" alt="FDT logo" />
                <p class="font-heading-md text-gray-70">Financial Data Transformation</p></a>
        </div>

        <div class="tablet:grid-col-2 text-center margin-y-6">
            <a href="{{site.baseurl}}/fmt/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/fmt.png" alt="FMT logo" />
                <p class="font-heading-md text-gray-70">Fiscal Management Transformation</p></a>
        </div>
      </div>
    </div>
</section>

<section class="usa-graphic_list usa-section usa-prose clearfix ">
    <div class="clearfix grid-container grey-back padding-top-2 padding-bottom-2">
        <h2 class="text-base-darker margin-top-0">Members</h2>
{% include members_preview.html %}
    </div>
</section>
