<div class="grid-container padding-0">{% include carousel_homepage_top.html height="30" unit="%" duration="3" %}</div>

<section class="usa-graphic_list usa-section usa-prose clearfix">

    <div class="clearfix grid-container priority-icons">
        <div class="grid-row">
            <h2 class="text-primary-darker">Our Work</h2>
        </div>
        <div class="grid-row margin-x-10 flex-row">
            <div class="tablet:grid-col-4 text-center margin-y-1">
                <a href="{{site.baseurl}}/federal-financial-assistance/" class="text-no-underline text-gray-70"
                    style="display: inline-block;">
                    <div class="circle-image picons bg-white"> 
                        <img class="picon-svg" src="{{site.baseurl}}/assets/images/logos/ffa.svg" alt="Federal Financial Assistance logo" />
                    </div>
                    <p class="font-heading-md f-weight-600">Federal Financial Assistance</p>
                </a>
            </div>
            <div class="tablet:grid-col-4 text-center margin-y-1">
                <a href="{{site.baseurl}}/federal-financial-reporting/" class="text-no-underline text-gray-70"
                    style="display: inline-block;">
                    <div class="circle-image picons bg-white"> 
                        <img class="picon-svg" src="{{site.baseurl}}/assets/images/logos/ffr.svg" alt="Federal Financial Reporting logo" />
                    </div>
                    <p class="font-heading-md f-weight-600">Federal Financial Reporting</p>
                </a>
            </div>
            <div class="tablet:grid-col-4 text-center margin-y-1">
                <a href="{{site.baseurl}}/workforce-modernization/" class="text-no-underline text-gray-70"
                    style="display: inline-block;">
                    <div class="circle-image picons bg-white"> 
                        <img class="picon-svg" src="{{site.baseurl}}/assets/images/logos/workforce-modernization.svg" alt="Financial Management Workforce logo" />
                    </div>
                    <p class="font-heading-md f-weight-600">Financial Management Workforce</p>
                </a>
            </div>
        </div>
        <div class="grid-row margin-x-10 flex-row">
            <div class="tablet:grid-col-4 text-center margin-y-1">
                <a href="{{site.baseurl}}/major-legislation/" class="text-no-underline text-gray-70"
                    style="display: inline-block;">
                    <div class="circle-image picons bg-white"> 
                        <img class="picon-svg" src="{{site.baseurl}}/assets/images/logos/major-legislation.svg" alt="Major Legislation logo" />
                    </div>
                    <p class="font-heading-md f-weight-600">Major Legislation</p>
                </a>
            </div>
            <div class="tablet:grid-col-4 text-center margin-y-1">
                <a href="{{site.baseurl}}/payment-integrity/" class="text-no-underline text-gray-70"
                    style="display: inline-block;">
                    <div class="circle-image picons bg-white"> 
                        <img class="picon-svg" src="{{site.baseurl}}/assets/images/logos/payment-integrity.svg" alt="Payment Integrity logo" />
                    </div>
                    <p class="font-heading-md f-weight-600">Payment Integrity</p>
                </a>
            </div>
            <div class="tablet:grid-col-4 text-center margin-y-1">
                <a href="{{site.baseurl}}/payment-integrity-fraud-symposium/" class="text-no-underline text-gray-70"
                    style="display: inline-block;">
                    <div class="circle-image picons bg-white"> 
                        <img class="picon-svg" src="{{site.baseurl}}/assets/images/logos/symposium.svg" alt="Payment Integrity & Symposium Series logo" />
                    </div>
                    <p class="font-heading-md f-weight-600">Payment Integrity & Fraud Symposium</p>
                </a>
            </div>
        </div>
    </div>
</section>
