/****************************styling for resource catalog******************************/
.federal-financial-assistance-border {
    border-top: solid 8px #AC0606;
}

.financial-management-workforce-border {
    border-top: solid 8px #6B6B6B;
}

.financial-reporting-border {
    border-top: solid 8px #000BA5;
}

.major-legislation-border {
    border-top: solid 8px #A3007A;
}

.payment-integrity-border {
    border-top: solid 8px #854200;
}

.real-property-border {
    border-top: solid 8px #520F98;
}

.risk-management-border {
    border-top: solid 8px #086068;
}
//star icon for new resources
.new-resource-icon {
    position: absolute;
    top: 7px;
    right: 12px;
    max-width: 15%;
}
