#career-facet-remove-all-filters-button {
  display: none;
}

.career-advancement-block {
  display: flex;
  flex-direction: column;
}

.career-facets-filter-heading {
  color: #aaa;
  margin-top: 5px;
  margin-bottom: 0px;
}

.facets-panel {
  width: 100%;
}

.facets-panel .usa-button[id*="GS-"]:hover, .facets-panel .usa-button[id*="series-"]:hover {
  border-bottom: 2px solid #adadad;
}

.facets-panel .usa-button.active {
  background-color: #1a4480;
  color: white;
}

.facets-panel label {
  cursor: pointer;
}

.search-container {
  display: flex;
  text-align: right;
  margin-top: 25px;
}

.career-search__label {
  position: absolute;
  top: -45px;
}

.career-search-results-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.cfo-card-header-content {
  display: flex;
  justify-content: space-between;
}

.cfo-card-below-header-content p {
  margin-top: 0;
}

.career-card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cfo-inner-card-content {
  border-width: 2px;
  border-color: #dfe1e2;
  border-style: solid;
  border-top-width: 6px;
  border-top-color: #F39268;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;;
  border-bottom-left-radius:.2rem !important;
  border-bottom-right-radius:.2rem !important;
  padding: 20px;
  margin-top: 10px;
  width: 33%;
}

input#career-advancement-search-input {
  width: 15rem;
}

#cfo-search-button {
  height:2.5rem;
  width: 30%;
}

@media screen and (min-width: 785px) {
  input#career-advancement-search-input { width: 23rem; }
}

.career-search-results-inner-heading {
  display: flex;
}

.career-competency-level-1-input-group,
.career-competency-level-2-input-group {
  display: flex;
  justify-content: space-between;
}

.career-competency-level-1-input-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.career-competency-level-1-input-group h3 {
  margin: 0;
  padding: 0;
}

.career-competency-input-groups-label {
  font-weight: normal;
}

.career-competency-input-groups {
  padding: 2px 10px;
}

.career-competency-toggle-open--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usa-button--unstyled:hover, .usa-button--unstyled:active {
  text-decoration: none !important;
}

.career-competency-toggle-open b {
  margin-left: 5px;
}

.career-input-group {
  margin-top: 2px;
}

/* .career-search-results-heading {
  flex: 2;
}

.career-search-results-filter-compare-button {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.career-search-results-filter-compare-button button {
  display: block;
  padding: 10px;
  width: 150px;
  border-color: #333333;
  color: #333333;
  background-color: #eee;
  border: 1px solid #333333;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
} */

.career-search-results-filter-pagination {
  font-size: 20px;
  font-weight: bold;
}

.career-search-results-pagination-wrapper {
  display: flex;
  width: 13em;
  justify-content: space-between;
  margin: 0 auto;
}

.career-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

#career-download-buttons {
  margin-right: 20px;
}


/*************** boxes ***************/

.cfo-career-outer-box {
  width: 100%;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 15px;
}


/* .cfo-courses-outer {
  display: flex;
  justify-content: space-between;
} */


.cfo-page-left, .cfo-page-right {
  cursor: pointer;
  padding: 7px 12px;
  font-weight: bold;
  font-size: 20px;
}

/************* Search *********************/

.cfo-pagination-text {
  padding: 0;
  margin: 0;
}

.cfo-career-results-text-bold {
  font-weight: bold;
}

/*** Cards ***/

div[data-card-filter] {
  position: relative;
}


.cfo-career-outer-box {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-color: #fff;
  padding: 15px 25px;
}

.select-button {
  position: relative;
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.facets-panel .usa-button:hover {
  background-color: white !important;
  color: initial;
}

.facets-panel .usa-button.active:hover {
  background-color: #1a4480 !important;
  color: white;
}

.cfo-courses-outer {
  display: flex;
  justify-content: space-between;
}

.career-card-content {
  display: flex;
  justify-content: space-between;
}

.career-card-content .card-content-column {
  width: 30%;
  border: 1px solid #b6b6b6;
  border-top: 5px solid #f39268;
  border-radius: 5px;
  padding: 0 15px;
}

.cfo-career-text-container p span {
  margin-right: 12em;
}

.cfo-career-text-container p.competency-desc {
  font-size: 125%;
}

.career-card-content .card-content-column dl {
  color: #61666F;
}

.career-card-content .card-content-column dt {
  font-weight: bold;
  margin-top: 1em;
}

.career-card-content .card-content-column dd {
  margin-inline-start: 2em;
}

.career-card-content .card-content-column.prof-level dd {
  list-style-type: disc;
  display: list-item;
}

.border-top-orange {
  border-top-color: #f39268 !important;
}
