
// Import the US Web Design System SASS.

@import "uswds";
@import "../../_sass/members";

// Add your SASS/CSS here

// default mode hide banner

@media screen and (min-width: 640px) {

}

.logo-size {
  width: 183px;
  height: 46px;
}

.header-menu-text {
  font-family: public_sanslight;
  font-size: initial;
  font-weight: 100;
}

@media (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item {
    font-size: 0.931618rem;
    line-height: 0.939227;
    padding-right: 1rem;
  }
}

.secondary-nav-padding {
  padding-bottom: 1rem;
}

@media screen and (min-width: 640px) {
  .logo-size {
    width: 214px;
    height: 72px;
  }
}

.search-button {
  background-color: #d83933;
}

.usa-header--extended .usa-current::after, .usa-header--extended [aria-expanded=true]::after, .usa-header--extended .usa-nav__link:hover::after {
  background-color: #d83933;
}
.circle-image {
  border-radius: 50%;
  width: 110px;
}
.priority-tag-line{
  padding-top: .5em;
}
.priority-icons {
  background-position: center;
}
/* Clearfix (clear floats) */
.section_font {
  font-family: public_sansmedium;

}
.ui-tabs-vertical {
  margin: 0em -2em;
  padding: 0.5em 0 1.5em 0;
  background-image: url("../assets/images/tab-top.png");
  background-repeat: no-repeat;
  background-size: 150px 32px;
  background-color: #eeeeed;
}

.ui-tabs-vertical .ui-tabs-nav {
  padding: 1.5em 0;

  list-style: none;
  background: #fff;
  border-radius: 0px 40px 40px 0px;
  -moz-border-radius: 0px 40px 40px 0px;
  -webkit-border-radius: 0px 40px 40px 0px;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3) }

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  padding: 0em 0 0em 2em;
  margin: 1em 2em 1em 0.5em;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  padding: 1em 0;
}

.ui-tabs-vertical .ui-tabs-panel {

}

.ui-state-hover, .ui-state-active {
  border-right: 8px solid #5b6cc5;
  background: #eef1ff;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }

#tabs .ui-state-focus a:focus, #tabs li:focus {
  outline: 0; }