/****************************styling for resource catalog******************************/
.federal-financial-assistance-border {
    border-top: solid 4px #f2938c;
}

.financial-management-workforce-border {
    border-top: solid 4px #2A4B45;
}

.financial-reporting-border {
    border-top: solid 4px #97d4ea;
}

.major-legislation-border {
    border-top: solid 4px #07648d;
}

.payment-integrity-border {
    border-top: solid 4px #92d9bb;
}

.real-property-border {
    border-top: solid 4px #8889db;
}

.risk-management-border {
    border-top: solid 4px #0a9805;
}
