/****************************styling for resource catalog******************************/
.federal-financial-assistance-border {
    border-top: solid 4px #000BA5;
}

.financial-management-workforce-border {
    border-top: solid 4px #2A4B45;
}

.financial-reporting-border {
    border-top: solid 4px #AC0606;
}

.major-legislation-border {
    border-top: solid 4px #A3007A;
}

.payment-integrity-border {
    border-top: solid 4px #000000;
}

.real-property-border {
    border-top: solid 4px #854200;
}

.risk-management-border {
    border-top: solid 4px #6B6B6B;
}
