.dataTables_filter {
    display: none;
}
.dataTables_paginate {
    display: none;
}

.dt-search {
    display: none;
}
.dt-length {
    display: none;
}

.filterBtn.active {
    background-color: #007bff;
    color: white;
}
.dt-buttons {
    display: none;
}
table.dataTable tbody tr {
    height: 92px;
}

.training-page-left, .training-page-right {
  cursor: pointer;
  padding: 7px 12px;
  font-weight: bold;
  font-size: 20px;
  border: 0px !important;
  background-color: white;
}

#myTable.dataTable thead th {
    background-color: rgb(237, 243, 243);
    border-bottom: 1.5px solid rgb(99, 156, 153);
    border-top: 2px solid rgb(99, 156, 153);
}

#myTable.dataTable tbody td {
    border-bottom: .5px solid rgb(99, 156, 153);
    border-top: .5px solid rgb(99, 156, 153);
}

.margin-bottom-training-button {
  margin-bottom: 1.5rem;
}
/*
#training-download-buttons{
  flex-direction: column;
  width: 100% !important;
}

.training-download-button-1{
  width: 100% !important;
}

#training-download-button-2{
  width: 100% !important;
}

#training-download-button-3{
  width: 100% !important;
} */
