---
title: Members
layout: coffa-default
permalink: /coffa/members/
description: 
keyword: COFFA Priority Areas, COFFA Council, CFOC members, Members
---
<!-- *****LOOP FOR Leadership *********-->

<section class="usa-hero grid-container about-the-council margin-bottom-5 ">
    <div class="grid-row grid-gap padding-top-6 padding-bottom-6 div-height">
        <div class="grid-col-10 grid-offset-1">
            <div class="priority-tag-line">
                <h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1>
            </div>
            <div>
                <p class="margin-0 font-sans-md">{{ page.description }}</p>
            </div>
        </div>
    </div>
</section>

<section class="usa-graphic-list">
    <div class="grid-container">
        <h2>LEADERSHIP</h2>
        <p>The Deputy Director for Management of the Office of Management and Budget is the Chairperson of the Council.</p>
        <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
            {% for bio in site.leadership-coffa %}
            {% if bio.bio-image %}
            <div class="tablet:grid-col-6 container padding-105">
                <a href="{{ site.baseurl }}{{ bio.permalink }}" class="height-full display-block text-no-underline text-ink">
                    <div class="left">
                        <img class="photo" src="{{ site.baseurl }}{{ bio.bio-image }}" alt="{{bio.bio-image-alt-text }} portrait">
                    </div>
                    <div class="right">
                        <p><span class="name">{{ bio.name }}<br></span>
                            <span class="title">{{ bio.title }}, {{ bio.department }}</span></p>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="tablet:grid-col-4 container padding-105">
                <a href="{{ site.baseurl }}{{ bio.permalink }}" class="height-full display-block text-no-underline text-ink">
                    <div class="left">
                        <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{bio.department | slugify}}.png" alt="{{ bio.department }} seal">
                    </div>
                    <div class="right">
                        <p><span class="name">{{ bio.name }}<br></span>
                            <span class="title">{{ bio.title }}, {{ bio.department }}</span></p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- *****LOOP FOR Agencies******-->
<section class="usa-graphic-list">
    <div class="grid-container">
        <h2>MEMBER AGENCIES</h2>
        <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
            {% for council_member in site.data.council_members_coffa %}
            <div class="tablet:grid-col-4 container padding-105">
                {% if council_member.agency != "U.S. Agency for International Development" and council_member.agency != "Office of Personnel Management" %}
                <a href="{{ council_member.website_url }}" target="_blank" class="height-full display-block text-no-underline text-ink">
                    <div class="leftSeal">
                        <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{council_member.agency | slugify}}.png" alt="{{ council_member.agency }} seal">
                    </div>
                    <div class="rightSeal">
                        <p>
                            <span class="nameSeal">{{ council_member.agency }}</span>
                        </p>
                    </div>
                </a>
                {% else %}
                <div class="height-full display-block text-no-underline text-ink">
                    <div class="leftSeal">
                        <img class="seal" src="{{ site.baseurl }}/assets/images/agency-seals/{{council_member.agency | slugify}}.png" alt="{{ council_member.agency }} seal">
                    </div>
                    <div class="rightSeal">
                        <p>
                            <span class="nameSeal">{{ council_member.agency }}</span>
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>  
    </div>
</section>

