---
title: Policies and Guidance
description: Welcome to the Policies and Guidance page.
subtitle: Policies and Guidance
layout: default
permalink: /policies-and-guidance/
description: Learn more on topics the CFOC and community are currently focused on.
keyword: CFOC, CFO Council, Policy, Guidance
sidenav: false


---
<section class="usa-graphic-list">
    <div class="grid-container">
        <h1 class="column-centered-heading margin-bottom-1">Policies and Guidance</h1>
        <div class="usa-graphic-list__row grid-row grid-gap margin-0">


            <p class="font-sans-sm padding-top-1">Welcome to the Policy & Guidance Catalog. This is a high-level overview of the topics our Council and community are currently focused on. Use the filters on the left to browse specific areas and types. </p>

            <p class="font-sans-sm margin-top-0">This page is a living catalog that is consistently updated as policies and priorities evolve. It is not exhaustive of all applicable financial policies. Want more guidance on these topics? <a href="mailto:CFOC.support@gsa.gov">Contact us!</a> </p>



            <br>
        </div>
    </div>
</section>

<section class="usa-graphic-list margin-bottom-4">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">

            {% include policies-guidance-filters.html %}
            {% include policies-guidance-data.html %}

        </div>
    </div>
</section>
