---
layout: default
---

{% comment %}
This template is for a single career planning landing page.
{% endcomment %}

<div class="usa-layout-docs__main desktop:grid-col-12">
    <div class="grid-container font-sans-sm">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__main desktop:grid-col-12 font-sans-sm">
                <h1 class="column-centered-heading">{{page.title}}</h1>
                <div class="text-base margin-bottom-2">
                    <div class="margin-top-neg-105">
                       <span class="text-bold">{{ page.job_series }}</span>
                    </div>
                </div>
                {{ content }}
            </div>
        </div>
        <p class="padding-bottom-3"><a href="{{site.baseurl}}/career-planning-tool/">&#10094; &nbsp; Back to Career Advancement</a></p>
    </div>
</div>