{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

<!--<head>-->
<!--    <title>{{ page.title }}</title>-->
<!--</head>-->

{% include meta.html %}

<body class="site-margin">
{% include header.html %}

{% include sub-page-menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation_cxo page_type='cxo' %}

<main id="main-content">
    <div class="grid-container">{{ content }}</div>
</main>

{% include footer.html  page_type='cxo' %}

{% include scripts.html %}
</body>

</html>
