---

layout: default
title: Priority

---

<section class="priority-top-container" style="background-image: url('{{site.baseurl}}/assets/images/priority-top-image1.png');">
    <div class="priority-areas">
        <img class="circle-image-1" src="{{site.baseurl}}/assets/images/logos/asset 13.jpg" alt="priority" />
        <div class="priority-area-text-1">Priority Area</div>
        <div>This is the random text for Priority Area</div>
    </div>
</section>
<br>
<section class="priority-middle-container usa-graphic_list" style="background-image: url('{{site.baseurl}}/assets/images/priority-middle-image.png');">

    <div class="row">
        <div class="column">
          <a href="#" style="text-decoration:none">  <img class="circle-image"
                 src="{{site.baseurl}}/assets/images/logos/asset 9.jpg" alt="Guidance, Policies and Resources" /><BR>
            <span class="section_font">Guidance, Policies and Resources</span></a><BR>
        </div>

        <div class="column">
            <a href="https://portal.max.gov/portal/home" style="text-decoration:none">  <img class="circle-image"
                 src="{{site.baseurl}}/assets/images/logos/asset 10.jpg" alt="OMB Max" /><BR>
                <span class="section_font">OMB Max</span></a><BR>
        </div>

        <div class="column">
          <a href="#" style="text-decoration:none">  <img class="circle-image"
                 src="{{site.baseurl}}/assets/images/logos/asset 11.jpg" alt="FDT.jpg" /><BR>
              <span class="section_font">Training</span></a><BR>
        </div>

        <div class="column">
            <a href="#" style="text-decoration:none"> <img class="circle-image"
                 src="{{site.baseurl}}/assets/images/logos/asset 12.jpg" alt="Initatives" /><BR>
            <span class="section_font">Initatives</span></a><BR>
        </div>
    </div>

</section>

{{ content }}

<section class="priority-middle-container usa-graphic_list" style="background-image: url('{{site.baseurl}}/assets/images/priority-middle-image.png');">

{% if page.type == "fdt" %}
    {% include priority_fdt_sidenav.html %}
{% endif %}

{% if page.type == "fmt" %}
    {% include priority_fmt_sidenav.html %}
{% endif %}

{% if page.type == "grant" %}
    {% include priority_grants_sidenav.html %}
{% endif %}

</section>






<button onclick="topFunction()" id="backtotop" title="Go to top">Return to Top</button>
<br><br>

<script>
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
