---

layout: default
title: Priority

---

<section class="priority-top-container" style="background-image: url('{{site.baseurl}}/assets/images/priority-top-image.png');">

</section>
<br>
<section class="priority-middle-container usa-graphic_list" style="background-image: url('{{site.baseurl}}/assets/images/priority-middle-image.png');">
    <div class="usa-grid ">
        <div class="usa-width-one-fourth usa-media_block">

        </div>
        <div class="usa-width-one-fourth usa-media_block">
            OMB Max
        </div>
        <div class="usa-width-one-fourth usa-media_block">
            Training
        </div>
        <div class="usa-width-one-fourth usa-media_block">
            initatives
        </div>
    </div>

</section>

{{ content }}

<section class="priority-middle-container usa-graphic_list" style="background-image: url('{{site.baseurl}}/assets/images/priority-middle-image.png');">

{% if page.type == "fdt" %}
    {% include priority_fdt_sidenav.html %}
{% endif %}

{% if page.type == "fmt" %}
    {% include priority_fmt_sidenav.html %}
{% endif %}

{% if page.type == "grant" %}
    {% include priority_grants_sidenav.html %}
{% endif %}

</section>






<button onclick="topFunction()" id="backtotop" title="Go to top">Return to Top</button>
<br><br>

<script>
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
