---

layout: default
title: Priority

---

<section class="usa-hero grid-container priority">
    <div class="grid-row grid-gap">
        <div class="grid-col-auto grid-offset-1">
            <img class="circle-card float-left" src="{{site.baseurl}}/assets/images/logos/{{ page.type }}.png" alt="priority" />
        </div>
        <div class="grid-col-8">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl text-normal">{{ page.title }}</h1></div>
            <div><p class="margin-0 font-sans-md">{{ page.description }}</p></div>
        </div>
    </div>
</section>

<section class="usa-graphic_list usa-section usa-prose clearfix">

    <div class="grid-row clearfix grid-container priority-icons">
        {% if page.type == 'grant' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="{{ site.baseurl }}/coming-soon/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 12.png" alt="Initiatives Logo" />
                <h2 class="text-gray-70 text-normal section_font">Initiatives</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'gpr' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="https://www.performance.gov/CAP/getting-payments-right/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 12.png" alt="Initiatives Logo" />
                <h2 class="text-gray-70 text-normal section_font">Initiatives</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'fmt' %}
        <div class="grid-col-4 text-center margin-y-10">
            <a href="{{ site.baseurl }}/coming-soon/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 12.png" alt="Initiatives Logo" />
                <h2 class="text-gray-70 text-normal section_font">Initiatives</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'fdt' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="{{ site.baseurl }}/coming-soon/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 12.png" alt="Initiatives Logo" />
                <h2 class="text-gray-70 text-normal section_font">Initiatives</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'erm' %}
        <div class="tablet:grid-col-4 text-center margin-y-10">
            <a href="{{ site.baseurl }}/coming-soon/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 12.png" alt="Initiatives Logo" />
                <h2 class="text-gray-70 text-normal section_font">Initiatives</h2></a>
        </div>
        {% endif %}

        {% if page.type == 'grant' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="{{site.baseurl}}/policies-and-guidance/#priority_area=.financial-assistance&type=*" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 9.png" alt="Guidance, Policies <br> and Resources Logo" />
                <h2 class="text-gray-70 text-normal section_font">Guidance, Policies <br> and Resources</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'gpr' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="{{site.baseurl}}/policies-and-guidance/#priority_area=.payment-integrity&type=*" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 9.png" alt="Guidance, Policies <br> and Resources Logo" />
                <h2 class="text-gray-70 text-normal section_font">Guidance, Policies <br> and Resources</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'fmt' %}
        <div class="grid-col-4 text-center margin-y-10">
            <a href="{{site.baseurl}}/policies-and-guidance/#priority_area=.fmt&type=*" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 9.png" alt="Guidance, Policies <br> and Resources Logo" />
                <h2 class="text-gray-70 text-normal section_font">Guidance, Policies <br> and Resources</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'fdt' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="{{site.baseurl}}/policies-and-guidance/#priority_area=.fdt&type=*" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 9.png" alt="Guidance, Policies <br> and Resources Logo" />
                <h2 class="text-gray-70 text-normal section_font">Guidance, Policies <br> and Resources</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'erm' %}
        <div class="tablet:grid-col-4 text-center margin-y-10">
            <a href="{{site.baseurl}}/policies-and-guidance/#priority_area=.erm&type=*" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 9.png" alt="Guidance, Policies <br> and Resources Logo" />
                <h2 class="text-gray-70 text-normal section_font">Guidance, Policies <br> and Resources</h2></a>
        </div>
        {% endif %}

        {% if page.type == 'grant' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
          <a href="{{site.baseurl}}/grants-training/" class="text-no-underline">
              <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 11.png" alt="Training Logo" />
              <h2 class="text-gray-70 text-normal section_font">Grants Training Module</h2></a>
        </div>
        {% endif %}
<!--        {% if page.type == 'fmt' %}-->
<!--        <div class="tablet:grid-col-3 text-center margin-y-10">-->
<!--            <a href="{{ site.baseurl }}/coming-soon/" class="text-no-underline">-->
<!--                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 11.jpg" alt="Training Logo" />-->
<!--                <h2 class="text-gray-70 text-normal section_font">Training</h2></a>-->
<!--        </div>-->
<!--        {% endif %}-->
        {% if page.type == 'fdt' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="https://www.usaspending.gov/#/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 11.png" alt="Training Logo" />
                <h2 class="text-gray-70 text-normal section_font">USAspending.gov</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'erm' %}
<!--        <div class="tablet:grid-col-3 text-center margin-y-10">-->
<!--            <a href="{{ site.baseurl }}/coming-soon/" class="text-no-underline">-->
<!--                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 11.png" alt="Training Logo" />-->
<!--                <h2 class="text-gray-70 text-normal section_font">TBD</h2></a>-->
<!--        </div>-->
        {% endif %}
        {% if page.type == 'gpr'%}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="{{ site.baseurl}}/payment-accuracy/" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/gpr.png" alt="Payment accuracy Logo" />
                <h2 class="text-gray-70 text-normal section_font">PaymentAccuracy.gov</h2></a>
        </div>
        {% endif %}
        {% if page.type != 'fmt' and page.type != 'erm' %}
        <div class="tablet:grid-col-3 text-center margin-y-10">
            <a href="https://community.max.gov/x/rgTvVg" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 10.png" alt="OMB Max Logo" />
                <h2 class="text-gray-70 text-normal section_font">OMB MAX</h2></a>
        </div>
        {% endif %}
        {% if page.type != 'fmt' and page.type == 'erm' %}
        <div class="tablet:grid-col-4 text-center margin-y-10">
            <a href="https://community.max.gov/x/rgTvVg" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 10.png" alt="OMB Max Logo" />
                <h2 class="text-gray-70 text-normal section_font">OMB MAX</h2></a>
        </div>
        {% endif %}
        {% if page.type == 'fmt' %}
        <div class="grid-col-4 text-center margin-y-10">
            <a href="https://community.max.gov/x/rgTvVg" class="text-no-underline">
                <img class="circle-image" src="{{site.baseurl}}/assets/images/logos/asset 10.png" alt="OMB Max Logo" />
                <h2 class="text-gray-70 text-normal section_font">OMB MAX</h2></a>
        </div>
        {% endif %}
    </div>

</section>
<div class="grid-container grid-gap">{{ content }}</div>


<section class="grid-container grid-gap usa-graphic_list clearfix tabSection">

{% if page.type == "fdt" %}
    {% include priority_fdt_sidenav.html %}
{% endif %}

{% if page.type == "fmt" %}
    {% include priority_fmt_sidenav.html %}
{% endif %}

{% if page.type == "grant" %}
    {% include priority_grants_sidenav.html %}
{% endif %}

{% if page.type == "erm" %}
    {% include priority_erm_sidenav.html %}
{% endif %}

{% if page.type == "gpr" %}
    {% include priority_gpr_sidenav.html %}
{% endif %}

</section>







