---
title: Career Planning
description: Welcome to the Career Planning page.
subtitle: Our Focus Areas
layout: careers
permalink: /career-planning-tool/
description: Access best practices, training modules, career paths, videos, and more.
keyword: CFO Priority Areas, CFO Council, Knowledge Sharing, Resources, Training, Videos, Career
sidenav: false
attached:
 - facets
 - career-planning

---
<div id="blog" class="bg-primary-darker usa-content font-serif-lg padding-y-6">
    <div class="grid-container-widescreen">
        <div class="grid-row grid-gap">
            <div class="desktop:grid-col-2 bg-white"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logos/logo-main-cfo.png" alt="back to CFO.gov"> </a> </div>
            <div class="desktop:grid-col-9">
                <h1 class="text-normal text-white margin-0">Career Planning Tool</h1>
                <span class="text-base-lighter display-block padding-top-1 text-light">
                    Research what you need to advance in your government career.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="grid-container-widescreen">
    <div class="grid-row">
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block tablet:grid-col-3 career-advancement-block">
                <p class="career-facets-filter-heading"><i>Filter your results</i></p>
                <div class="facets-panel">
                    <h3>Job Series</h3>
                    <div class="inner-facet-block">
                        {% assign series_array = "" | split: "," %}

                        {% for item in site.cards %}
                            {% if item.category == 'career' %}
                                {% if series_array contains item.series %}

                                {% else %}
                                    {% assign series_array = series_array | push: item.series %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                        {% assign series_array = series_array | sort %}
                        {% for series in series_array %}
                            {% assign series_id = series | downcase | replace: ", ", "-" | replace: " ", "-" %}
                            <button
                                type="button"
                                id="series-0{{ series_id }}"
                                data-id="series-0{{ series_id }}"
                                title="Series-0{{ series }}"
                                aria-label="Series-0{{ series }}"
                            >0{{ series }}</button>
                        {% endfor %} 
                    </div>
                    <h3>GS Level</h3>
                    <div class="inner-facet-block">
                        {% assign level_array = "" | split: "," %}

                        {% for item in site.cards %}
                            {% if item.category == 'career' %}
                                {% if level_array contains item.level %}

                                {% else %}
                                    {% assign level_array = level_array | push: item.level %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                        {% assign level_array = level_array | sort %}
                        {% for level in level_array %}
                            {% assign level_id = level | downcase | replace: ", ", "-" | replace: " ", "-" %}
                            <button
                                type="button"
                                id="{{ level_id }}"
                                data-id="{{ level_id }}"
                                title="{{ level }}"
                                aria-label="{{ level }}"
                            >{{ level }}</button>
                        {% endfor %}
                    </div>
                    <div class="career-competency-level-1-input-group">
                        <h3>Competencies</h3>
                        <div class="career-input-group">
                            <input type="checkbox" id="career-competency-select-all"/>
                            <label for="career-competency-select-all">Select All</label>
                        </div>
                    </div>
                    <div class="inner-facet-block">
                        {% assign competency_group_array = "" | split: "," %}

                        {% for item in site.cards %}
                            {% if item.category == 'career' %}
                                {% if competency_group_array contains item.competency_group %}

                                {% else %}
                                    {% assign competency_group_array = competency_group_array | push: item.competency_group %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                        {% assign competency_group_array = competency_group_array | sort %}
                        {% for competency_group in competency_group_array %}
                            <!-- iterate through site.cards again for each copetency_group and grap all distinct copetencies that go with it.-->
                            {% assign competency_array = "" | split: "," %}

                            {% for item in site.cards %}
                                {% if item.category == 'career' %}
                                    {% if competency_array contains item.competency %}

                                    {% else %}
                                        {% if item.competency_group == competency_group %}
                                            {% assign competency_array = competency_array | push: item.competency %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            
                            {% assign competency_array = competency_array | sort %}

                            {% assign competency_group_id = competency_group | replace: ", ", "-" | replace: " ", "-" %}
                            <div class="career-competency-and-competency-group-input-groups">
                                <div class="career-competency-level-2-input-group">
                                    <b>{{ competency_group }}</b>
                                    <div class="career-competency-level-3-input-group">
                                        <div class="career-input-group">
                                            <input
                                                type="checkbox"
                                                id="{{ competency_group_id | downcase}}"
                                                data-id="{{ competency_group_id | downcase }}"
                                                title="{{ competency_group }}"
                                                aria-label="{{ competency_group }}"
                                            />
                                            <label for="{{ competency_group_id }}" class="career-competency-input-groups-label">Select All</label>
                                        </div>
                                    </div>
                                </div>

                                {% for competency in competency_array %}
                                    {% assign competency_id = competency | replace: ", ", "-" | replace: " ", "-" %}
                                    <div class="career-competency-input-groups">
                                        <div class="career-competency-level-4-input-group">
                                            <div class="career-input-group">
                                                <input
                                                    type="checkbox"
                                                    id="{{ competency_group_id | downcase }}-{{ competency_id | downcase }}"
                                                    data-group="{{ competency_group_id | downcase }}"
                                                    data-id="{{ competency_id | downcase }}"
                                                    title="{{ competency }}"
                                                    aria-label="{{ competency }}"
                                                />
                                                <label for="{{ competency_group_id }}-{{ competency_id }}" class="career-competency-input-groups-label">{{ competency }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        
                        <!-- <button type="button" id="comp_customer">Customer</button> 
                        <button type="button" id="comp_flexility">Flexility</button> 
                        <button type="button" id="comp_budget">Budget</button>-->
                    </div>
                </div>
            </div>
            <div id="career-advancement-results-container" class="desktop:grid-col-9 usa-prose padding-right-4">
                <!-- HTML elements for search -->
              <div class="career-search-results-header">
                <div class="search-container">
                  <input type="text" id="career-advancement-search-input" placeholder="Search Career Paths..">
                  <button type="button" id="cfo-search-button"><i class="fa fa-search"></i></button>
                </div>
                <div class="career-search-results-heading">
                  <div id="career-search-results-filter-remove-buttons"></div>
                  <div id="career-search-results-filter-remove-all-button">
                    <a href="javascript:void(0)" id="career-facet-remove-all-filters-button">Clear All</a>
                  </div>
                  <div id="career-download-buttons">
                    <button class="cfo-pdf-select-buttons" data-op="select-all">Select All</button>
                    <button class="cfo-pdf-select-buttons" data-op="download-selected">Download Selected</button>
                  </div>
                </div>
              </div>	
        <div id="career-search-results">
          <!-- This loops through the paginated posts -->
          {% assign cards = site.cards | sort %}
          {% for card in cards limit:5 %}
          <div class="tablet:grid-col-12 grid-spacing policy {{ card.filters }}" data-card-filters="{{ card.filters }}">
            <div class="cfo-career-outer-box">
              <div class="cfo-career-text-container">
                <p><span><strong>GS Level:</strong> {{ card.level }}</span><span><strong>Job Series:</strong> 0{{ card.series }}</span></p>
                <p><strong>ALL:</strong> {{ card.competency }}
                <p class="competency-desc"><strong>Competency Definition:</strong> {{ card.competency_description }}</p>
                <div class="grid-row grid-gap">
                    {{ card.content }}
                </div>
                  <div class="select-button">
                      <label><input type="checkbox" value="{{ card.permalink }}"> <span>Select for download</span></label>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
